@import "../common.less";

* {
  font-family: Arial !important;
}

//顶部用户信息
.mine-top-box { 
  .wh(100%, 235px);
  padding-top: 5.09rem;
  background: url(../../../images/order-bg.png) left top no-repeat;
  background-size: cover;
  p {
    color: #fff;
    margin: 0;
  }
  .totalMoney {
    .totalMoney-Tit {
      font-size: 1.12rem;
      margin-bottom: 0.75rem;
    }
    .totalMoney-Money {
      font-size: 2.56rem;
    }
  }
  .orderInfo {
    display: flex;
    flex: 1;
    .wh(100%, 31.5px);
    margin-top: 2.56rem;
    div {
      position: relative;
      flex: 1;
      p {
        line-height: 0.75rem;
        font-size: 0.96rem;
        letter-spacing: 0.08rem;
        margin: 0;
      }
      p:first-child {
        margin-bottom: 0.43rem;
        font-size: 0.75rem;
      }
    }
    div:first-child:after {
      content: " ";
      display: block;
      width: 0.06rem;
      height: 1.87rem;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: #fff;
    }
  }
}

.wrapperList {
  top: 15rem;
  bottom: 0;
  .pullDown {
    display: none;
  }
  .wrapperListItem {
    .wh(100%, 110px);
    margin: 0 auto;
    padding: 0;
    background: url(../../../images/order-ListBg.png) no-repeat;
    background-size: 100% 110px;
    .ordersItemTit {
      position: relative;
      display: flex;
      flex: 1;
      .wh(100%, 38px);
      padding: 0.5rem 0.62rem 0.5rem 0.25rem;
      &:after {
        position: absolute;
        content: "";
        display: block;
        bottom: 0rem;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #E5E5E5;
        .wh(95%, 1px);
      }
      div {
        height: 1.37rem;
        line-height: 1.37rem;
        flex: 1;
      }
      .ordersDate {
          flex: 2;
        font-size: 0.81rem;
        color: #333;
        border-left: 6px solid #D7B374;
        background: url(../../../img/order-ListDate-ico.png) 0.53rem center no-repeat;
        background-size: 1.37rem 1.37rem;
        text-indent: 2.18rem;
      }
      .question{
        background: url("../../../img/orderQuestion-ico.png") left center no-repeat;
        background-size: 1rem 1rem;
      }
      .seeInfo {
        padding-right: 1.06rem;
        background: url(../../../img/order-ListGo-ico.png) right center no-repeat;
        background-size: 1rem 1rem;
      }
    }
    .ordersInfo {
      display: flex;
      .wh(100%, 65px);
      padding: 0 0.93rem;
      div {
        flex: 1;
        padding-top: 0.93rem;
        p {
          margin: 0;
          line-height: 0.75rem;
          font-size: 1rem;
          color: #D7B374;
        }
        p:first-child {
          margin-bottom: 0.62rem;
          font-size: 0.81rem;
          color: #333;
        }

      }
    }
  }
}

//弹出窗口
.mui-popup{
  .mui-popup-title{
    display: none;
  }
  .mui-popup-text{
    div{
      display: flex;
      flex: 1;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 12px;
      font-size: 16px;
      p{
        color: #333;
      }
    }
  }
}

.scale1{
    transform: scale(1)!important;
}
.isNoData(0px,0rem);
