<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/page/account/activeAddress.css" />
		<link rel="stylesheet" href="../../css/pullToRefresh.css" />
	</head>

	<body>
		<div id="activeAddress">
			<header class="mui-bar topBar mui-bar-nav">
				<a class="mui-action-back topBack-ico mui-pull-left"></a>
				<h1 class="mui-title">活动地点</h1>
				<span id="Topactivity" class="mui-btn  Topactivity mui-btn-blue mui-btn-link mui-pull-right" @click="open('add')">新增</span>
			</header>
			<div id="wrapper" class="wrapperList">
				<div class="isNoData" v-if="isNoData" :class="{scale1:isNoData}">
					<div class="isNoDataInfo mui-text-center">
						<div class="isNoDataBg"></div>
						<p class="isNoDataTit">还没有活动地址</p>
						<p>小主你还没有活动地址哦,新增一个吧!</p>
					</div>
				</div>
				<ul>
					<div class="listItem" v-for="(item,key) in data">
						<div class="itemInfo">
							<h1 class="addrName" v-text="item.location">火山灰</h1>
							<p class="addressInfo"><img src="../../img/activity-Address-ico.png" />{{item.address}}</p>
						</div>
						<div class="fun">
							<div class="mui-input-row mui-radio mui-left checkAdd" @click.stop="setCommonAdd(item)">
								<label class="Allcheck mui-ellipsis" @click="setCommonAdd(item)">设为常用地点</label>
								
								<input class="Allcheck" @click.stop="setCommonAdd(item)" type="radio" name="addr" :checked="item.status==1" id="Allcheck">
							</div>
							<button class="editAdd" @click="open('edit',item)">
								编辑
							</button>
							<button class="delAdd" @click="delAdd(item,key)">
								删除
							</div>
						</div>
					</div>
				</ul>
			</div>
		</div>			
			<script src="../../js/mui.min.js"></script>
			<script type="text/javascript" src="../../js/muihelper.js" ></script>
			<script type="text/javascript" src="../../js/iscroll.js"></script>
			<script type="text/javascript" src="../../js/pullToRefresh.js"></script>
			<script type="text/javascript" src="../../js/vue.min.js" ></script>
		<script type="text/javascript">
			var Vue = new Vue({
				el:"#activeAddress",
				data:function(){
					return {
						SETCOMMONADDURL : "merchantPerson/updateAddressStatus",// 更该地址状态
						DELADDURL : "merchantPerson/deleteAddress",// 删除地址
						GETADDRLISTURL : "merchantPerson/getAddressList",// 获取地址列表
						isNoData : false,
						data : []
						
					}
				},
				created:function(){
					var _this = this ;
					mui.plusReady(function(){
						_this.getAddLsit(function(resData){
							_this.data = resData.data;
							(_this.data.length)?_this.isNoData=false:_this.isNoData=true;
						});
						window.addEventListener('reload',function(){
							mui.fire(plus.webview.currentWebview().opener(),"reload");
							_this.getAddLsit(function(resData){
								_this.data = resData.data;
								(_this.data.length)?_this.isNoData=false:_this.isNoData=true;
							})
						});
						refresher.init({
							id: "wrapper",
							pullDownAction: _this.Refresh,
							pullUpAction: _this.Load
						});
					})
				},
				methods:{
					Refresh:function () {
						

					},
					Load:function () {
						wrapper.refresh();
					},
					open: function(type,item) {
						var openData = {
							isAdd:type,
							openData:item
						}
						console.log(JSON.stringify(item))
						mui.plusReady(function() {
							Fun_App.openWin('addressAdd.html', 'pop-in', openData); // 新增地址
						})	
					},
					// 获取地址
					getAddLsit:function(callBack){
						var sendData = {
							config:{
								token:Fun_App.getdata('token')
							},
							fun_Success:function(resData){
								callBack(resData);
							}
						}
						Fun_App.ExAjax(this.GETADDRLISTURL,sendData)
						//Fun_App.ExAjax(this.DELADDURL,sendData)
					},
					// 设置常用地址
					setCommonAdd:function(item){
						var sendData = {
							config:{
								token:Fun_App.getdata('token'),
								addressId:item.id,
								address:item.address,
								location:item.location
							},
							fun_Success:function(resData){
								if(resData.success&&resData.data){
									mui.toast('默认地址更改成功!');
								}else{
									mui.toast('默认地址更改失败!');									
								}
							}
						}
						Fun_App.ExAjax(this.SETCOMMONADDURL,sendData)
					},
					
					// 删除地址
					delAdd:function(id,key){
						var _this = this;
						var sendData = {
							config:{
								token:Fun_App.getdata('token'),
								addressId:id.id
							},
							fun_Success:function(resData){
								if(resData.success&&resData.data){
									mui.fire(plus.webview.currentWebview().opener(),"reload");
									_this.data.splice(key,1)
								}else{
									mui.toast('删除失败!');
								}
							}
						}
//						if(id.status==1){
//							mui.toast('默认地址不可删除!');
//							return false;
//						}
						mui.confirm('确认删除这个地址么？','提示',['取消','确认'],function (e) {
							if(e.index){
								Fun_App.ExAjax(_this.DELADDURL,sendData);
								
							}else{
								mui.toast('用户已取消!')
							}
						},'div')
					}
				}
			})
		</script>
	</body>

</html>