<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/page/account/bindBankCard.css" />
	</head>

	<body>
		<div id="bankCardList">
			<header class="mui-bar topBar mui-bar-nav">
				<a class="mui-action-back topBack-ico mui-pull-left"></a>
				<h1 class="mui-title">我的银行卡</h1>
			</header>

			<div class="mui-content">
				<div class="backCardsList">
					<div :class="'backCards ' + item.bankNameSpell" v-for="(item,key) in pageData.data" @click="open(item.bankCardId)">
						<p class="backCardNumber mui-text-right">**** **** **** ***** <b>{{item.bankCode | bankCode}}</b></p>
					</div>
					<!--div :class="'page ' + item " v-for="(item,key) in 6">
						<p class="backCardNumber mui-text-right" v-text="item"><b>1234</b></p>
					</div>-->
					<!-- <div class="backCards">
            <p class="backCardNumber mui-text-right">**** **** **** <b>1234</b></p>
        </div>-->
				</div>
				<div class="addBankCar">
					<a class="addBankCardBtn" @click="open('null')" v-if="showBtn">
						<img src="../../img/addbankCard-ico.png" alt="">添加银行卡
					</a>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/page/accounnt/bindBankCard.js"></script>
		<script type="text/javascript" src="../../js/muihelper.js"></script>
		<script type="text/javascript" src="../../js/vue.min.js"></script>
		<script type="text/javascript">
			var Vue = new Vue({
				el: "#bankCardList",
				data: function() {
					return {
						pageData: {},
						showBtn: false
					}
				},
				created: function() {
					var _this = this;
					mui.plusReady(function() {
						_this.getCardLsit(function(resData) {
							_this.pageData = resData;
							if(resData.data.length == 0) {
								_this.showBtn = true;
							}
						});
					})
				},
				methods: {
					getCardLsit: function(callBack) {
						var sendData = {
							config: {
								token: Fun_App.getdata("token")
							},
							fun_Success: function(data) {
								callBack(data)
							}
						}
						Fun_App.ExAjax("merchantPerson/allBankCard", sendData)
					},
					open: function(id) {
						mui.plusReady(function() {
							Fun_App.openWin("./addBankCard.html", "pop-in", id)
						})
					}
				},
				computed: {
					classObject: function(item) {
						return "backCards" + item
					}
				},
				filters:{
					bankCode:function(val){
						return val.substring(val.length-4);
					}
				}
				
			})
		</script>
	</body>

</html>