@import "../common";

/*11111111111111111111111111*/

.topBar("../../../img/topBack-ico.png");
html,
body {
    background-color: #fff;
}

.mui-content {
    background-color: #fff;
    font-size: 0.875rem;
    color: #333;
    padding-top: 4.15rem !important;
    margin: 0 10px;
    .bigpart {
        p {
            color: #333333;
        }
    }
}

.mui-bar-nav~.mui-content {
    padding-top: 64px;
}