<<<<<<< HEAD
@import "../common";


.topBar("../../../img/topBack-ico.png");

html,body{
     height: 100%;
     background-color: #fff !important;
}
 .mui-content{
     background: #fff;
     .aboutTop{
         margin-top: 5rem;
         img{
             width: 7.625rem;
             margin-bottom: 1.1875rem;
        }
         .aboutTit{
             margin-bottom: 0.9375rem;
             font-size: 1rem;
             color: #333;
        }
         .appEdition{
             font-size: 0.875rem;
             color: #999;
        }
    }
     .aboutBottom{
         position: fixed;
         bottom: 0.3125rem;
         width: 100%;
         a{
             display: block;
             margin-bottom: 1.1875rem;
             font-size: 0.875rem;
             color: #D7B374;
        }
         div{
             margin-bottom: 0.625rem;
             font-size: 0.75rem;
             color: #999;
        }
    }
}
 

=======
@import "../common";

.topBar("../../../img/topBack-ico.png");


html,body{
    height: 100%;
  background-color: #fff !important;
}
.mui-content{
   background: #fff;
  .aboutTop{
    margin-top: 80px;
    img{
      width: 122px;
      margin-bottom: 19px;
    }
    .aboutTit{
      margin-bottom: 15px;
      font-size: 16px;
      color: #333;
    } 
    .appEdition{
      font-size: 14px;
      color: #999;
    }
  }
  .aboutBottom{
    position: fixed;
    bottom: 5px;
    width: 100%;
    a{
      display: block;
      margin-bottom: 19px;
      font-size: 14px;
      color: #D7B374;
    }
    div{
      margin-bottom: 10px;
      font-size: 12px;
      color: #999;
    }

  }
}
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
