@import "../common.less";

.topBar("../../../img/topBack-ico.png");
.mui-content{
  .mui-table-view{ 
    margin-top: 0;
    padding: 0 12px;
    .mui-table-view-cell{
      padding: 0px;
      display: flex;
      .wh(100%,48px);
      flex: 1;
      align-items: center;
      background-color: #fff;
      span{
        display: block;
      }
      input,button{
        height: 48px;
        line-height: 48px;
        flex: 1;
        position: inherit;
        right: 0;
        margin: 0;
        padding: 0;
        border: none;
        text-align: right;
        font-size: 13px;
        color: #999;
      }
      button{
        background: url("../../../img/order-ListGo-ico.png") right center no-repeat;
        background-size: 12px 12px;
        padding-right: 11.5px;
      }
    }
  }
}
.phoneCode{
  margin-top: 10px;
  .wh(100%,48px);
  padding: 0 12px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  input{
    padding: 0;
    margin: 0;
    .wh(131px,100%);
    border: none;
    align-self: center;
  }
  a{
    display: block;
    text-align: center;
    .wh(106px,30px);
    line-height: 30px;
    border-radius: 4px;
    box-shadow:0 0 0 1px #333 ;
    color: #333;
    margin-left: 6px;
  }
}

.footerButton {
  width: 95%;
  height: 40px;
  margin: 32px auto 0;
  line-height: 40px;
  background-color: #222;
  z-index: 9999;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
}
//.sure{
//  text-align: center;
//  padding: 0.78rem 0;
//  font-size: 1rem;
//  display: block;
//  background: linear-gradient(#00aeff,#0a7ff1);
//  transition: all 5s;
//  color: #fff;
//  &:active{
//      color: #fff;
//       background: linear-gradient(#0a7ff1,#00aeff);
//  }
//}
