.topBar {
  padding-top: 1.25rem;
  height: 4rem;
  box-shadow: 0 0.0625rem 0.375rem #ccc;
  background-color: #fff;
}
.topBar .topBack-ico {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  background: url("../../../img/topBack-ico.png") left center no-repeat;
  background-size: 1.25rem 1.25rem;
}
.topBar .mui-title {
  font-size: 1.12rem;
  color: #333;
  z-index: -1;
}
.topBar .rightIco {
  display: block;
  width: 2.75rem;
  height: 2.75rem;
}
.mui-content {
  padding-top: 5rem !important;
  padding-left:0.75rem;
  padding-right:0.75rem;
}

body,
html {
  font-size: 16px;
  font: 100 0.87rem/0.87rem;
  background-color: #F5F5F5;
}
.mui-content {
  overflow: hidden;
  font-size: 0.87rem;
  color: #333;
  background-color: #F5F5F5;
}

.btn-gradient {
  padding: 10px;
  background: -moz-linear-gradient(top, #ff2653, #ff2653);
  background: linear-gradient(top, #ff2653, #ff2653);
  background: -webkit-linear-gradient(top, #ff2653, #ff2653);
  border: 0px solid #ff2653 !important;
  color: #fff;
}
.btn-delete {
  padding: 10px;
  background: -moz-linear-gradient(top, #f15d5d, #f10101);
  background: linear-gradient(top, #f15d5d, #f10101);
  background: -webkit-linear-gradient(top, #f15d5d, #f10101);
}
.mui-content-padded {
  height: 44px;
}
a {
  color: #333;
}
.mui-input-group .mui-input-row:after {
  left: 0px;
}
input {
  font-size: 0.87rem;
}
.mui-input-group:before,
.mui-input-group:after {
  background-color: #FFFFFF;
}
.mui-btn-blue.mui-active:enabled,
.mui-btn-blue:enabled:active,
.mui-btn-primary.mui-active:enabled,
.mui-btn-primary:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
  color: #fff;
  border: 1px solid #ff2653;
  background-color: #ff2653;
}
.mui-table-view-cell > a:not(.mui-btn).mui-active {
  background-color: #FFFFFF;
}
.mui-content > .mui-table-view:first-child {
  margin-top: 0rem;
}
.mui-table-view:before,
.mui-table-view:after {
  background-color: #fff;
}
.mui-content {
  background-color: #fff;
}
.mui-content h1,
.mui-content h4,
.mui-content h5,
.mui-content p {
  margin: 0;
  padding: 0;
}
.mui-content h1 {
  text-align: center;
  margin-bottom: 0.625rem;
  font-size: 1.5625rem;
}
.mui-content h4 {
  margin: 0.5rem 0;
}
.mui-content h5 {
  font-size: 0.9375rem;
}
.mui-content h5,
.mui-content p {
  margin-bottom: 0.375rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
.mui-content .dot {
  padding-left: 0.75rem;
  position: relative;
}
.mui-content .dot:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.375rem;
  left: 0.125rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #000;
}
