<<<<<<< HEAD
@import "../common";
.topBar("../../../img/topBack-ico.png");
.mui-table-view {
    .mui-navigate-right {
        position: relative;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        margin: -11px -15px;
        padding: inherit;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: inherit;
        img {
            width: 1.375rem;
            height: 1.375rem;
            margin-right: 0.9375rem;
        }
    }
}
=======
@import "../common";
.topBar("../../../img/topBack-ico.png");
.mui-table-view{
    .mui-navigate-right{
    position: relative;
    display: flex !important;
    align-items: center;
    overflow: hidden;
    margin: -11px -15px;
    padding: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    img{
        .wh(22px,22px);
        margin-right: 0.9375rem;
    }
}
}

>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
