@import "../common";
html{
    background: transparent;
}
.search {
    display: flex;
    height: 2.34375rem;
    justify-content: center;
    align-items: center;    
    #inputBox {
        width: 75% !important;
        height: 1.25rem;
        border-radius: 0;
        text-align: center;
    }
}