<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>商家端-工作台</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/page/work/home.css" />
	</head>

	<body>
		<div id="home">
			<div class="mui-content header">
				<div class="funBar">
					<a href="javascript:;" id="changeShop" @click="open('changeShop')" class="changeShop tap">切换店铺</a>
					<div class="funBarIcoBtn">
						<a href="javascript:;" class="tap msg right" @click="open('msgcenter')" id="msgCneter">
							<span class="mui-badge mui-badge-warning mui-text-center" v-if="showBox.isMsg" v-text="pageData.messageNum" id="msgNum"></span>
						</a>
						<a href="javascript:;" class="qrcode tap right" @click="open('receivablesCode')" id="moneyCode"></a>
					</div>
				</div>
				<div class="shopCard">
					<div class="f2cDay" v-if="showBox.isF2c" @click="open('activityCenter')">
						<div class="f2cTxt">
							<p>体验日</p> 
							<p v-text="pageData.today">2017-06-08</p>
						</div>
					</div>
					<div class="profit">
						<div class="business">
							<div class="headerImg">
								<img src="../../img/work-head.png" :src="shopLogo" id="logoimg" alt="" />
							</div>
							<div class="businessInfo mui-ellipsis"> 
								<p id="businessName" class="businessName mui-ellipsis" v-text="showBox.isBOOS?pageData.merchantName:pageData.merchantName+' (店长)'">兑咖兑咖 (dianz)</p>
								<p id="businessAddress" class="businessAddress mui-ellipsis" v-text="pageData.merchantAddress"></p>
							</div>
						</div>
						<div class="mui-text-center infoBoard">
							<div v-if="showBox.isMaster">
								<p>今日订单总额(元)</p>
								<span class="profitCount " id="todayOrderTotalMoney" v-text="pageData.todayOrderTotalMoney">0</span>
							</div>
							<div v-if="showBox.isMaster">
								<p>今日订单(个)</p>
								<span class="profitCount" id="todayOrders" v-text="pageData.todayOrders">0</span>
							</div>
							<div>
								<p>今日共享收益(元)</p>
								<span class="profitCount" id="todayShareIncome" v-text="pageData.todayShareIncome">0</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--
    	作者：offline 
    	时间：2017-05-15
    	描述：功能列表
   -->
			<div class="funLsit">
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="open('teamAdmin')" id="zhgl">
						<a href="javascript:;">
							<span class="mui-icon funLsit-icocommon funLsit-ico1"></span>
							<div class="mui-media-body">员工管理</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="open('myuser')" id="myUser">
						<a href="myuser.html">
							<span class="mui-icon funLsit-icocommon funLsit-ico2"></span>
							<div class="mui-media-body">我的用户</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap"
						v-if="showBox.isMaster"
						 @click="open('myincome')" 
						 id="myIncome">
						<a href="myincome.html">
							<span class="mui-icon funLsit-icocommon funLsit-ico3"></span>
							<div class="mui-media-body">我的营业收入</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="open('shareprofit')" id="mySharedIncome">
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico4"></span>
							<div class="mui-media-body">我的共享收益</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap"
						 v-if="showBox.isMaster"
						 @click="open('storeSonsign')" id="" >
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico13"></span>
							<div class="mui-media-body">寄存管理</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap"
						id="mySharedIncome"
						v-if="showBox.isMaster"
						 @click="open('../qrCode','luck')" >
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico12"></span>
							<div class="mui-media-body">扫一扫</div>
						</a>
					</li>
					<!--<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" id="myDuBei">
			    <a href="#">
			        <span class="mui-icon funLsit-icocommon funLsit-ico5"></span>
			        <div class="mui-media-body">我的现金券</div>
			    </a>
			</li>-->
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="open('receivablesCode')" id="myQrCode">
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico6"></span>
							<div class="mui-media-body" v-text="showBox.isMaster?'收款二维码':'推广二维码'">收款二维码</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap"
						v-if="showBox.isMaster"
						 @click="open('evaluatemange')" id="evaluate">
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico7"></span>
							<div class="mui-media-body">评价管理</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap"
						v-if="showBox.isMaster"
						 @click="open('activityCenter')"  
						 id="activity">
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico8"></span>
							<div class="mui-media-body">活动管理</div>
						</a>
					</li>
					<!--<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="open('dataAnalysis') id="dataAnalysis">
					<a href="#">
						<span class="mui-icon funLsit-icocommon funLsit-ico9"></span>
						<div class="mui-media-body">数据分析 </div>
					</a>
				</li>-->
					<!--<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" id="tgjl">
					<a href="#">
						<span class="mui-icon funLsit-icocommon funLsit-ico5"></span>
						<div class="mui-media-body">推广奖励 </div>
					</a>
				</li>-->
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="open('partyAdmin')" id="partyAdmin">
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico10"></span>
							<div class="mui-media-body">玩咖管理 </div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="open('budgetAdmin')" id="budgetAdmin" v-if="showBox.isShopType">
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico11"></span>
							<div class="mui-media-body">预订管理</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="open('recharge/index')" id="rechargeAdmin" >
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico11"></span>
							<div class="mui-media-body">充值管理</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="open('marketingAdmin/index')" id="" >
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico11"></span>
							<div class="mui-media-body">营销管理</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="createView('tgbweb')" id="" >
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico11"></span>
							<div class="mui-media-body">推广宝</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4 tap" @click="createView('tkbweb')" id="" >
						<a href="#">
							<span class="mui-icon funLsit-icocommon funLsit-ico11"></span>
							<div class="mui-media-body">拓客宝</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/muihelper.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script src="../../js/fas.js"></script>
	<script type="text/javascript" src="../../js/vue.min.js"></script>
	<script type="text/javascript" src="../../js/page/work/home.js"></script>
	
</html>