<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/pullToRefresh.css" />
		<link href="../../css/page/work/monthlyEarnings.css" rel="stylesheet" />
	</head>

	<body>
		<div id="monthlyEarnings">
			<div class="headerCart mui-clearfix">
				<header class="mui-bar mui-bar-nav topNav">
					<a class="mui-action-back mui-pull-left closeBg"></a>
					<h1 class="mui-title" id="monthBtn" @click="showMouth=!showMouth"><span id="monthTxt" v-text="mouth + '月'"></span><span class="jt"></span></h1>
				</header>
				<div class="countIncome mui-text-center">
					<p class="countTxt">累计收益</p>
					<p class="countMony" id="countMony" v-text="pageData.withdrawInfoTotal==null?0:pageData.withdrawInfoTotal">9999</p>
				</div>
			</div>
			<div class="wrappers">
				<div id="wrapper" class="wrapperList">
					<ul id="moneyList">
						<li class="listItem" v-for="(item,key) in list">
							<p class="itemDate" v-text="item.createTime">2017-02-15</p>
							<p class="itemMoney" v-text="item.money">+888.66</p>
						</li>

					</ul>
				</div>
			</div>

			<div class="MouthList mui-backdrop" v-show="showMouth">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" @click="changeMouth(key + 1)" v-for="(item,key) in 12" v-text="item + '月'">

					</li>

				</ul>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/muihelper.js"></script>
		<!--<script type="text/javascript" src="../../js/page/work/monthlyEarnings.js"></script>-->
		<script type="text/javascript" src="../../js/iscroll.js"></script>
		<script type="text/javascript" src="../../js/pullToRefresh.js"></script>
		<script type="text/javascript" src="../../js/vue.min.js"></script>
		<script type="text/javascript">
			var Vue = new Vue({
				el: "#monthlyEarnings",
				data: function() {
					return {
						page: 1,
						totalPage: null,
						pageLen: pageLen,
						pageData: {},
						mouth: new Date().getMonth() + 1,
						list: [],
						showMouth: false
					}
				},
				created: function() {
					var _this = this;
					mui.plusReady(function() {
						_this.getIncomeMonth(function(resData) {
							_this.totalPage = resData.total / _this.pageLen;
							_this.pageData = resData.data;
							_this.list = resData.merchantShareLogsList;
						}, 1, null)
						refresher.init({
							id: "wrapper",
							pullUpAction: _this.Load
						});
					})
				},
				methods: {
					getIncomeMonth: function(callBack, page, mouth) {
						var sendData = {
							config: {
								token: Fun_App.getdata("token"),
								pageIndex: page,
								month: mouth
							},
							fun_Success: function(data) {
								callBack(data);
							}
						}
						Fun_App.ExAjax("merchantShare/incomeMonth", sendData);
					},
					Load: function() {
						this.page++;
						var _this = this ;
						if(this.page <= this.totalPage) {
							this.getIncomeMonth(function(resData) {
							_this.list =_this.list.concat(resData.data.merchantShareLogsList);
							}, this.page, this.mouth)
						} else {
							mui.toast('没有更多数据了!')
						}
						wrapper.refresh();
					},
					changeMouth: function(mouth) {
						this.showMouth = !this.showMouth;
						this.mouth = mouth;
						var _this = this;
						this.getIncomeMonth(function(resData) {
							_this.totalPage = resData.total / _this.pageLen;
							console.log(_this.totalPage)
							_this.pageData = resData.data;
							_this.list = resData.data.merchantShareLogsList;
							console.log(JSON.stringify(_this.list)) 
						}, 1, mouth)
					}
				}
			})
		</script>
	</body>

</html>