<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>我的共享收益</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/pullToRefresh.css" />
		<link rel="stylesheet" type="text/css" href="../../css/page/work/shareprofit.css" />
	</head>

	<body>
		<div id="shareprofit">
			<div class="minetop-box">
				<div class="topBar">
					<div class="mui-action-back topBack-ico mui-pull-left"></div>
					<div id="myDetailed" @click="open('dentail')" v-if="isShowApplyBtn">结算明细</div>
				</div>
				<div class="mine-topInfo mui-text-center">
					<p class="topInfoTit">共享收益(元)</p>
					<p class="topInfoCountMoney" id="goubeiaccount" v-text="pageData.shareMoney">99</p>
				</div>
				<div class="mine-topInfoMoney mui-text-center">
					<div class="preMoney">
						<p>已结算金额(元)</p>
						<p class="money" id="mine-goubei-online" v-text="shareBalanceMoney">99999</p>
					</div>
					<div class="nextMoney">
						<p>可结算金额(元)</p>
						<p class="money" id="mine-goubei-offline" v-text="pageData.shareBalance">99999</p>
					</div>
				</div>
			</div>

			<div class="monthlyEarnings mui-text-right" id="everyMoth" @click="open('everyMouth')">
				<span>每月收益</span> <img src="../../img/order-ListGo-ico.png" alt="">
			</div>
			<div id="wrapper" class="wrapperList" :class="{isbottom0:!isShowApplyBtn}">
				<ul id="yyaccountList">
					<li class="ListItem" v-for="(items,key) in list">
						<div class="ListItemTop">
							<p class="itemInfo" v-text="items.optDes"></p>
							<p class="itemMoney" v-text="(items.state==1?'￥ -' :'￥') +items.money"></p>
						</div>
						<p class="ListItemDate" v-text="items.createTime">
						</p>
					</li>
					<!--<li class="ListItem" v-for="(items,key) in list">
							<div class="ListItemTop">
								<p class="itemInfo" v-text="items.merchantName">asd</p>
								<p class="itemMoney" v-text="'￥' +items.money">￥123</p>
							</div>
							<p class="ListItemDate" v-text="items.createTime">
							</p>
						</li>-->
				</ul>
				<div class="isNoData" v-if="isNoData"  :class="{scale1:isNoData}">
					<div class="isNoDataInfo mui-text-center">
						<div class="isNoDataBg"></div>
						<p class="isNoDataTit">暂无共享收益</p>
						<p>小主你还没有共享收益哦!</p>
					</div>
				</div>
			</div>
			<button v-if="isShowApplyBtn" class="footerButton mui-text-center" :disabled="pageData.shareBalance==0" id="myMoney" @click="open('applysettlement')">
				申请结算
			</button>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/muihelper.js"></script>
	<script type="text/javascript" src="../../js/iscroll.js"></script>
	<script type="text/javascript" src="../../js/pullToRefresh.js"></script>
	<script type="text/javascript" src="../../js/vue.min.js"></script>
	<script type="text/javascript" src="../../js/page/work/shareprofit.js"></script>
	<script type="text/javascript">
		</script>

</html>