 @import "common";
 html,
 body {
     height: 100%;
     background: url("../../images/login-bg.png");
     background-size: cover;
     overflow: hidden;
 } 
 
 .mui-icon {
     font-family: Muiicons !important;
 }
 
 .mui-content,
 .mui-input-group,
 .topBar {
     background: none !important;
 }
 
 .topBar {
     -webkit-box-shadow: none;
             box-shadow: none;
     * {
         color: #fff !important;
     }
 }
 
 
 
 #login{
     padding:  0 2.40625rem;
 }
 .mui-content {
     .loginTop-box {
         margin-top: 5.46875rem; 
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-flex: 1;
             -ms-flex: 1;
                 flex: 1;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         margin-bottom: 3.1875rem;
         height: 10.18rem;
         #loginLogo {
             width: 10.18rem;
         }
     }
     .login-box {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-flex: 1;
             -ms-flex: 1;
                 flex: 1;
         width: 100%;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
        
         .mui-icon {
             display: block;
             position: static;
             width: auto;
             height: auto;
             &:before {
                 color: #fff;
             }
         }
         .mui-active {
             &:before {
                 color: #333;
             }
         }
         span {
             color: #fff;
         }
         div {
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-flex: 1;
                 -ms-flex: 1;
                     flex: 1;
             -webkit-box-orient: horizontal;
             -webkit-box-direction: normal;
                 -ms-flex-direction: row;
                     flex-direction: row;
             -webkit-box-align: center;
                 -ms-flex-align: center;
                     align-items: center;
             padding-left: 0.9375rem;
             border-bottom: 0.0625rem solid #fff;
             .userPhoneNumberIco {
                 background: url("../../img/loginPhoneNum-ico.png") center;
                 background-size: 1.375rem 1.375rem;
             }
             .userPwdIco {
                 background: url("../../img/loginPwd-ico.png") center;
                 background-size: 1.375rem 1.375rem;
             }
             span {
                 display: block;
                 width: 1.375rem;
                 height: 1.375rem;
             }
         }
         input {
             margin: 0;
             padding: 0;
             background: none;
             color: #fff;
             text-indent: 1.5rem;
             height: 2.5rem !important;
             border: none !important;
         }
     }
     .forgetpassword {
         padding: 0 2.34375rem;
         margin-top: 0.9375rem;
         margin-bottom: 1.75rem;
         a {
             color: #fff;
         }
     }
     .login_local {
         button {
             height: 2.5rem;
             width: 100%;
             font-size: 1.125rem;
             border-radius: 0.3125rem;
             border: none;
             background-color: #fff;
             color: #333;
         }
         button:active {
             background-color: #ccc;
             color: #fff;
         }
     }
 }
