<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/page/order/orderdentail.css" rel="stylesheet" />
	</head>

	<body>
		<div id="orderdentail">
			<header class="mui-bar topBar mui-bar-nav">
				<a class="mui-action-back topBack-ico mui-pull-left"></a>
				<h1 class="mui-title">订单详情</h1>
			</header>
			<div id="wrapper" class="wrapperList">
					<ul>
						<li class="wrapperListItem" v-for="(item,key) in list">
							<div class="ListItem-Tit">
								<div class="itemTit-orderNum" v-text="'订单号:' +item.orderSn ">
									订单号: 1611111111111
								</div>
								<div class="itemTit-orderDate mui-text-right" v-text="item.createTime">
									2017-04-20 16:20
								</div>
							</div>
							<div class="ListItem-Info">
								<div class="order-People">
									<div class="order-PeopleImg"><img class="order-PeopleImg" src="" :src="item.headImg==''?'../../img/work-head.png':picservice+item.headImg" alt=""></div>
									<div class="order-PeopleInfo" v-text="item.memberName">罗炼羽 15632456528</div>
								</div>
								<div class="order-Income">
									<p><span class="orderTit">消费金额<i></i></span>:<span v-text="item.moneyTotal">8654.65</span></p>
									<p><span class="orderTit">营业收入<i></i></span>:<span v-text="item.actualTotalIncome">8654.65</span></p>
									<p><span class="orderTit">佣金<i></i></span>:<span v-text="item.scalingAmount">86565</span></p>
									<p><span class="orderTit">兑贝抵扣<i></i></span>:<span v-text="item.integral">86565</span></p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			<!--<div class="isNoData" v-if="isNoData" :class="{scale1:isNoData}">
				<div class="isNoDataInfo mui-text-center">
					<div class="isNoDataBg"></div>
					<p class="isNoDataTit">暂无结算明细</p>
					<p>小主暂时还没有订单信息哦!</p>
				</div>
			</div>-->
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script type="text/javascript" src="../../js/iscroll.js"></script>
		<script type="text/javascript" src="../../js/pullToRefresh.js"></script>
		<script type="text/javascript" src="../../js/muihelper.js"></script>
		<script type="text/javascript" src="../../js/page/order/orderdentail.js"></script>
	</body>

</html>