<<<<<<< HEAD
@import "../common.less";
 //结算详情框 
 .topBar("../../../img/topBack-ico.png");
 .mine-success-box {
     margin-top: 1.56rem;
     padding: 0 0.93rem;
     .successTxt {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-flex: 1;
             -ms-flex: 1;
                 flex: 1;
         width: 100%;
         height: 15.62rem;
         padding: 1.5rem 1.25rem 1.12rem 1.62rem;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         background: url(../../../img/mine_cash_panel.png) center center no-repeat;
         background-size: 100% 15.62rem;
         .successTop {
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-flex: 3;
                 -ms-flex: 3;
                     flex: 3;
             -webkit-box-orient: horizontal;
             -webkit-box-direction: normal;
                 -ms-flex-direction: row;
                     flex-direction: row;
             height: 8.37rem;
             -ms-flex-line-pack: center;
                 align-content: center;
             -webkit-box-pack: justify;
                 -ms-flex-pack: justify;
                     justify-content: space-between;
             .topLeft {
                 display: -webkit-box;
                 display: -ms-flexbox;
                 display: flex;
                 -webkit-box-flex: 1;
                     -ms-flex: 1;
                         flex: 1;
                 -webkit-box-orient: vertical;
                 -webkit-box-direction: normal;
                     -ms-flex-direction: column;
                         flex-direction: column;
                 .successTxtItem {
                     display: -webkit-box;
                     display: -ms-flexbox;
                     display: flex;
                     margin-bottom: 1.68rem;
                     font-size: 0.81rem;
                     color: #333;
                     .left{
                         width: 5.62rem;
                         display: -webkit-box;
                         display: -ms-flexbox;
                         display: flex;
                         -webkit-box-pack: start;
                             -ms-flex-pack: start;
                                 justify-content: flex-start;
                    }
                }
            }
             .topRight{
                 display: -webkit-box;
                 display: -ms-flexbox;
                 display: flex;
                 -webkit-box-flex: 1;
                     -ms-flex: 1;
                         flex: 1;
                 -webkit-box-pack: end;
                     -ms-flex-pack: end;
                         justify-content: flex-end;
                 a{
                     font-size: 0.75rem;
                     color: #999;
                     display: -webkit-box;
                     display: -ms-flexbox;
                     display: flex;
                     height: 1.18rem;
                     padding:0 0.46rem;
                     -webkit-box-align: center;
                         -ms-flex-align: center;
                             align-items: center;
                     border-radius: 0.18rem;
                     border: 0.06rem solid #999;
                }
            }
        }
         .succesFooter {
             padding-top: 0.56rem;
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-flex: 1;
                 -ms-flex: 1;
                     flex: 1;
             -ms-flex-line-pack: end;
                 align-content: flex-end;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
                 -ms-flex-direction: column;
                     flex-direction: column;
             font-size: 0.75rem;
             color: #999;
             p{
                 margin-top: 0.68rem;
                 line-height: 1.06rem;
            }
        }
    }
}
 .footerButton {
     margin: 0 auto;
     margin-top: 2rem;
     width: 90%;
     height: 2.5rem;
     line-height: 2.5rem;
     background-color: #222;
     z-index: 9999;
     font-size: 1.125rem;
     color: #fff;
     border-radius: 0.3125rem;
}
 
=======
@import "../common.less";
//结算详情框
.topBar("../../../img/topBack-ico.png");
.mine-success-box {
    margin-top: 1.56rem;
    padding: 0 0.93rem;
    .successTxt {
        display: flex;
        flex: 1;
        width: 100%;
        height: 15.62rem;
        padding: 1.5rem 1.25rem 1.12rem 1.62rem;
        flex-direction: column;
        background: url(../../../img/mine_cash_panel.png) center center no-repeat;
        background-size: 100% 15.62rem;
        .successTop {
            display: flex;
            flex: 3;
            flex-direction: row;
            height: 8.37rem;
            align-content: center;
            justify-content: space-between;
            .topLeft {
                display: flex;
                flex: 1;
                flex-direction: column;
                .successTxtItem {
                    display: flex;
                    margin-bottom: 1.68rem;
                    font-size: 0.81rem;
                    color: #333;
                    .left{
                        width: 5.62rem;
                        display: flex;
                        justify-content: flex-start;
                    }
                }
            }
            .topRight{
                 display: flex;
                flex: 1;
                justify-content: flex-end;
                a{
                    font-size: 0.75rem;
                    color: #999;
                    display: flex;
                    height: 1.18rem;
                    padding:0 0.46rem;
                    align-items: center;
                    border-radius: 0.18rem;
                    border: 0.06rem solid #999;
                }
            }
        }
        .succesFooter {
            
            padding-top: 0.56rem;
            display: flex;
            flex: 1;
            align-content: flex-end;
            flex-direction: column;
            font-size: 0.75rem;
            color: #999;
            p{
               margin-top: 0.68rem;
               line-height: 1.06rem;
            }
        }
    }
}
.footerButton {
    margin: 0 auto;
  margin-top: 32.5px;
  width: 90%;
  height: 40px;
  line-height: 40px;
  background-color: #222;
  z-index: 9999;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
}
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
