body,
html {
  background-color: #f5f5f5;
}
.mui-content {
  font-size: 0.87rem;
  color: #333;
  background-color: #f5f5f5;
}
.mui-bar {
  background-color: #fff;
}
.mui-bar a {
  color: #666666;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #929292;
}
.mui-bar .mui-btn-link {
  color: #333;
}
.btn-gradient {
  padding: 0.625rem;
  background: -moz-linear-gradient(top, #0AADFE, #0D80EF);
  background: linear-gradient(top, #0AADFE, #0D80EF);
  background: -webkit-linear-gradient(top, #0AADFE, #0D80EF);
}
.btn-delete {
  padding: 0.625rem;
  background: -moz-linear-gradient(top, #f15d5d, #f10101);
  background: linear-gradient(top, #f15d5d, #f10101);
  background: -webkit-linear-gradient(top, #f15d5d, #f10101);
}
a {
  color: #333;
}
.mui-input-group .mui-input-row:after {
  left: 0px;
}
input {
  font-size: 0.87rem;
  -webkit-appearance: none;
}
.mui-input-group:before,
.mui-input-group:after {
  background-color: #FFFFFF;
}
.mui-btn-blue.mui-active:enabled,
.mui-btn-blue:enabled:active,
.mui-btn-primary.mui-active:enabled,
.mui-btn-primary:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
  color: #fff;
  border: 1px solid #0B84F0;
  background-color: #0B84F0;
}
.shop-good-box {
  width: 100%;
  margin-top: 0.62rem;
}
.shop-good-box .shop-good-box-title {
  font-size: 0rem;
}
.shop-good-box .shop-good-box-title img {
  max-width: 100%;
  vertical-align: bottom;
}
.shop-good-box .mui-table-view.mui-grid-view {
  padding: 0rem;
}
.shop-good-box .mui-table-view.mui-grid-view .mui-table-view-cell {
  padding: 0rem;
  margin-right: 0rem;
  border-bottom: 1px #f5f5f5 solid;
  border-right: 1px #f5f5f5 solid;
}
.shop-good-box .mui-table-view.mui-grid-view .shop-good-item-box {
  background-color: #fff;
  padding: 0.62rem 0.18rem;
}
.shop-good-box .mui-table-view:after,
.shop-good-box .mui-table-view:before {
  background-color: #f5f5f5;
}
.shop-good-box ul {
  background-color: #f5f5f5;
}
.shop-good-box ul li .shop-good-title {
  width: 100%;
  text-align: left;
}
.shop-good-box ul li img {
  width: 100%;
  vertical-align: bottom;
}
.shop-good-box ul li span {
  font-size: 0.75rem;
  min-height: 2.75rem;
}
.shop-good-box ul li .shop-good-bottom-box {
  margin-top: 0.31rem;
  line-height: 1.75rem;
  width: 100%;
  height: 1.75rem;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-price {
  float: left;
  padding: 0rem;
  color: #333;
  font-weight: bold;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn {
  padding: 0rem 0.31rem;
  float: right;
  min-width: 4.25rem;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-delete {
  text-decoration: line-through;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-green {
  background: -moz-linear-gradient(top, #11ca08, #079600);
  background: linear-gradient(top, #11ca08, #079600);
  background: -webkit-linear-gradient(top, #11ca08, #079600);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-orange {
  background: -moz-linear-gradient(top, #ffad00, #fe7f00);
  background: linear-gradient(top, #ffad00, #fe7f00);
  background: -webkit-linear-gradient(top, #ffad00, #fe7f00);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-blue {
  background: -moz-linear-gradient(top, #7ac2ff, #1c85df);
  background: linear-gradient(top, #7ac2ff, #1c85df);
  background: -webkit-linear-gradient(top, #7ac2ff, #1c85df);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-navy {
  background: -moz-linear-gradient(top, #32dd9b, #06b16f);
  background: linear-gradient(top, #32dd9b, #06b16f);
  background: -webkit-linear-gradient(top, #32dd9b, #06b16f);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-pink {
  background: -moz-linear-gradient(top, #fe82c9, #e00982);
  background: linear-gradient(top, #fe82c9, #e00982);
  background: -webkit-linear-gradient(top, #fe82c9, #e00982);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-yellow {
  background: -moz-linear-gradient(top, #ffcc83, #eba104);
  background: linear-gradient(top, #ffcc83, #eba104);
  background: -webkit-linear-gradient(top, #ffcc83, #eba104);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-violet {
  background: -moz-linear-gradient(top, #d77dfd, #9f04df);
  background: linear-gradient(top, #d77dfd, #9f04df);
  background: -webkit-linear-gradient(top, #d77dfd, #9f04df);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-gray {
  background: -moz-linear-gradient(top, #f5f5f5, #ccc);
  background: linear-gradient(top, #f5f5f5, #ccc);
  background: -webkit-linear-gradient(top, #f5f5f5, #ccc);
}
.mui-content > .mui-table-view:first-child {
  margin-top: 0rem;
}
.ico-work {
  background: url(../../img/work_footer-01.png) center center no-repeat;
  background-size: cover;
}
.ico-order {
  background: url(../../img/work_footer-02.png) center center no-repeat;
  background-size: cover;
}
.ico-account {
  background: url(../../img/work_footer-03.png) center center no-repeat;
  background-size: cover;
}
.mui-table-view:before,
.mui-table-view:after {
  background-color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #5c9df4;
}
.mui-bar-tab .mui-tab-item {
  text-align: center;
  border-top: 1px solid #000;
}
.mui-bar-tab .mui-tab-item .mui-tab-label {
  color: #333;
}
.bgImg {
  background: url(../../img/work_footer-01.png) center center no-repeat;
  background-position-y: -2.0625rem;
}
.bgImg1 {
  background: url(../../img/work_footer-02.png) center center no-repeat;
  background-position-y: -2.0625rem;
}
.bgImg2 {
  background: url(../../img/work_footer-03.png) center center no-repeat;
  background-position-y: -2.0625rem;
}
.mui-bar-tab .mui-tab-item .mui-icon {
  width: 2.06rem;
  height: 2.06rem;
  transition: all 0.5s;
  background-size: 2.0625rem 4.12rem;
}
.mui-bar img {
  width: 1.75rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.mui-active .mui-icon {
  background-position-y: 0rem;
}
/*resetcss*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: Arial !important;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*resetcssEnd*/
/*重构的顶部*/
/*顶部的卡片视图*/
/*没有数据*/
#header01 .mui-bar {
  background: rgba(0, 0, 0, 0.01);
  box-shadow: none;
  -webkit-box-shadow: none;
}
#header01 .mui-bar .yd-btn-back {
  line-height: 2.75rem;
}
#header01 .mui-bar .yd-btn-back img {
  width: 2rem;
}
#header01 .mui-bar .mui-icon {
  margin-right: 0.31rem;
}
#header01 .mui-bar .mui-icon img {
  width: 1.75rem;
}
#header01 .mui-bar .mui-btn {
  font-weight: normal;
  font-size: 1.06rem;
}
#header01 .mui-bar .mui-btn-link {
  top: 0.06rem;
}
#header01 .mui-bar .mui-title {
  right: 3.12rem;
}
#header02 .mui-bar {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
}
#header02 .mui-bar .yd-btn-back {
  line-height: 2.75rem;
}
#header02 .mui-bar .yd-btn-back img {
  width: 2rem;
}
#header02 .mui-bar .mui-icon {
  margin-right: 0.31rem;
}
#header02 .mui-bar .mui-icon img {
  width: 1.75rem;
}
#header02 .mui-bar .mui-btn {
  font-weight: normal;
  font-size: 1.06rem;
}
#header02 .mui-bar .mui-btn-link {
  top: 0.06rem;
}
#header02 .mui-bar .mui-title {
  text-align: left;
  padding-top: 0.31rem;
  color: #333;
  width: 50%;
}
.master-img {
  width: 100%;
  min-height: 10rem;
}
.master-img .mui-slider-item {
  min-height: 10rem;
}
.master-img .mui-slider-item img {
  width: 100%;
  min-height: 10rem;
}
.detail-shopinfo-show {
  background: #fff;
  padding: 0.62rem 0.62rem 0;
}
.detail-shopinfo-show a {
  color: #666;
}
.detail-shopinfo-show .detail-shopinfo-title {
  display: block;
  margin-bottom: 0.62rem;
  font-size: 1rem;
  color: #333;
  margin-top: 0.31rem;
}
.detail-shopinfo-show .detail-shopinfo-content {
  color: #747474;
  margin-top: 0.31rem;
}
.detail-shopinfo-show .detail-shopinfo-tel {
  color: #747474;
  margin-top: 0.31rem;
}
.detail-shopinfo {
  margin-top: 0.93rem;
  background: #fff;
  padding: 0.62rem 0.62rem 0;
}
.detail-shopinfo .detail-shopinfo-title {
  display: block;
  margin-bottom: 0.62rem;
  font-size: 1rem;
  color: #333;
  margin-top: 0.31rem;
  font-weight: 600;
}
.detail-shopinfo .detail-shopinfo-content {
  color: #333;
  margin-top: 0.31rem;
  margin-bottom: 0.31rem;
}
.detail-shopinfo .detail-shopinfo-content img {
  width: 1.25rem;
  line-height: 1.56rem;
  margin-right: 0.31rem;
  vertical-align: bottom;
}
.detail-shopinfo .detail-shopinfo-text {
  margin-left: 2em;
  margin-bottom: 0.31rem;
}
.detail-starscore {
  margin-top: 0.93rem;
  background: #fff;
  font-size: 0.87rem;
}
.detail-starscore .atar_Show {
  background: url("../../../img/stark2.png");
  width: 110px;
  height: 14px;
  position: relative;
  float: left;
}
.detail-starscore .atar_Show p {
  margin: 0;
  padding: 0;
  background: url("../../../img/stars2.png");
  left: 0;
  height: 14px;
  width: 66px;
}
.detail-starscore span {
  color: #adadad;
}
.detail-scroll-box {
  position: relative;
  margin-top: 0.93rem;
  background: #fff;
}
.detail-scroll-box .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #0B84F0;
}
.detail-scroll-box .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar {
  background-color: #0B84F0;
}
.detail-scroll-box .mui-control-content {
  background-color: #fff;
  min-height: 8.75rem;
}
.detail-scroll-box .mui-control-content .mui-loading {
  margin-top: 3.12rem;
}
.detail-scroll-box .mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
  border-bottom: none;
}
.detail-scroll-box .mui-scroll-wrapper {
  padding: 0.93rem;
  background: #FFFFFF;
}
.detail-scroll-box .mui-scroll-wrapper .mui-scroll {
  width: auto;
  white-space: nowrap;
}
.detail-scroll-box .mui-scroll-wrapper .mui-scroll > a {
  display: inline-block;
  width: 8.75rem;
  margin-right: 0.62rem;
  position: relative;
}
.detail-scroll-box .mui-scroll-wrapper .mui-scroll > a img {
  width: 8.75rem;
  height: 6.25rem;
}
.detail-scroll-box .mui-scroll-wrapper .mui-scroll > a .detail-title {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 0.87rem;
  padding-left: 0.62rem;
}
.detail-shop-recommend {
  margin-top: 0.93rem;
  background: #FFFFFF;
  padding: 0 0.62rem;
}
.detail-shop-recommend h4:after {
  content: url("../../../img/detail_rec.png");
  width: 0.12rem;
  height: 1.43rem;
  display: inline-block;
  vertical-align: middle;
}
.detail-shop-recommend .mui-table-view .mui-media-object {
  max-width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.detail-shop-recommend .mui-table-view .mui-media,
.detail-shop-recommend .mui-table-view .mui-media-body {
  margin-top: 8%;
}
.detail-shop-recommend .mui-table-view:before {
  background-color: #fff;
}
.detail-shop-recommend .detail-shop-recommend-content {
  line-height: 1.75rem;
  padding-top: 0.31rem;
}
.detail-shop-recommend .detail-shop-recommend-content p {
  color: #666;
}
.detail-shop-recommend .detail-shop-recommend-more {
  color: #999999;
  text-align: center;
  padding: 0.62rem;
  font-size: 0.87rem;
}
.detail-near-shop {
  margin-top: 0.93rem;
  background: #fff;
  padding: 0.62rem 0.62rem 0;
}
.detail-near-shop .detail-near-shop-title {
  display: block;
  margin-bottom: 0.62rem;
  font-size: 1rem;
  color: #333;
  margin-top: 0.31rem;
  font-weight: 600;
}
.detail-near-shop .mui-media-body {
  color: #333;
}
.detail-near-shop .mui-table-view.mui-grid-view .mui-table-view-cell {
  text-align: left;
}
.detail-near-shop .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object {
  min-height: 5rem;
  width: 100%;
}
.detail-near-shop .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
  height: auto;
  line-height: 1.25rem;
}
.detail-near-shop .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body p {
  font-size: 0.75rem;
}
.detail-near-shop .detail-near-box {
  position: relative;
}
.detail-near-shop .detail-near-box .detail-near-title {
  position: absolute;
  bottom: 0.31rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: left;
  color: #fff;
  height: 1.37rem;
  line-height: 1.37rem;
}
.detail-near-shop .detail-near-box .detail-near-title .atar_Show {
  margin-top: 3px;
  background: url("../../../img/stark2.png");
  width: 110px;
  height: 14px;
  position: relative;
  float: left;
}
.detail-near-shop .detail-near-box .detail-near-title .atar_Show p {
  margin: 0;
  padding: 0;
  background: url("../../../img/stars2.png");
  left: 0;
  height: 14px;
  width: 66px;
}
.detail-near-shop .detail-near-box .detail-near-title p {
  color: #fff;
}
.detail-button-box {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}
.detail-button-box .detail-left {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 0.75rem;
}
.detail-button-box .detail-left .mui-tab-item {
  display: inline-block;
  width: 50%;
}
.detail-button-box .detail-left .mui-tab-item .mui-icon {
  top: 6px;
}
.detail-button-box .detail-left img {
  width: 1.5rem;
  display: block;
  margin: 0 auto;
}
.detail-button-box .detail-right {
  width: 60%;
  font-size: 1.12rem;
  line-height: 52px;
}
.detail-button-box .detail-right .btn-gradient {
  display: block;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 0;
}
.detail-button-box .detail-left .mui-tab-item,
.detail-button-box .detail-right {
  display: inline-block;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}
#share .mui-table-view {
  margin: 0;
  color: #333;
}
#share .share-panel {
  text-align: left;
}
#share .share-panel .mui-table-view-cell .mui-media-body {
  margin-top: 0;
}
#share .share-panel .mui-table-view-cell img {
  margin-top: 0.56rem;
  width: 3.25rem;
  height: 3.25rem;
}
#share .share-panel .mui-table-view-cell:after {
  background-color: #fff;
}
