body,
html {
  background-color: #f5f5f5;
}
.mui-content {
  font-size: 0.87rem;
  color: #333;
  background-color: #f5f5f5;
}
.mui-bar {
  background-color: #fff;
}
.mui-bar a {
  color: #666666;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #929292;
}
.mui-bar .mui-btn-link {
  color: #333;
}
.btn-gradient {
  padding: 0.625rem;
  background: -moz-linear-gradient(top, #0AADFE, #0D80EF);
  background: linear-gradient(top, #0AADFE, #0D80EF);
  background: -webkit-linear-gradient(top, #0AADFE, #0D80EF);
}
.btn-delete {
  padding: 0.625rem;
  background: -moz-linear-gradient(top, #f15d5d, #f10101);
  background: linear-gradient(top, #f15d5d, #f10101);
  background: -webkit-linear-gradient(top, #f15d5d, #f10101);
}
a {
  color: #333;
}
.mui-input-group .mui-input-row:after {
  left: 0px;
}
input {
  font-size: 0.87rem;
  -webkit-appearance: none;
}
.mui-input-group:before,
.mui-input-group:after {
  background-color: #FFFFFF;
}
.mui-btn-blue.mui-active:enabled,
.mui-btn-blue:enabled:active,
.mui-btn-primary.mui-active:enabled,
.mui-btn-primary:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
  color: #fff;
  border: 1px solid #0B84F0;
  background-color: #0B84F0;
}
.shop-good-box {
  width: 100%;
  margin-top: 0.62rem;
}
.shop-good-box .shop-good-box-title {
  font-size: 0rem;
}
.shop-good-box .shop-good-box-title img {
  max-width: 100%;
  vertical-align: bottom;
}
.shop-good-box .mui-table-view.mui-grid-view {
  padding: 0rem;
}
.shop-good-box .mui-table-view.mui-grid-view .mui-table-view-cell {
  padding: 0rem;
  margin-right: 0rem;
  border-bottom: 1px #f5f5f5 solid;
  border-right: 1px #f5f5f5 solid;
}
.shop-good-box .mui-table-view.mui-grid-view .shop-good-item-box {
  background-color: #fff;
  padding: 0.62rem 0.18rem;
}
.shop-good-box .mui-table-view:after,
.shop-good-box .mui-table-view:before {
  background-color: #f5f5f5;
}
.shop-good-box ul {
  background-color: #f5f5f5;
}
.shop-good-box ul li .shop-good-title {
  width: 100%;
  text-align: left;
}
.shop-good-box ul li img {
  width: 100%;
  vertical-align: bottom;
}
.shop-good-box ul li span {
  font-size: 0.75rem;
  min-height: 2.75rem;
}
.shop-good-box ul li .shop-good-bottom-box {
  margin-top: 0.31rem;
  line-height: 1.75rem;
  width: 100%;
  height: 1.75rem;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-price {
  float: left;
  padding: 0rem;
  color: #333;
  font-weight: bold;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn {
  padding: 0rem 0.31rem;
  float: right;
  min-width: 4.25rem;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-delete {
  text-decoration: line-through;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-green {
  background: -moz-linear-gradient(top, #11ca08, #079600);
  background: linear-gradient(top, #11ca08, #079600);
  background: -webkit-linear-gradient(top, #11ca08, #079600);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-orange {
  background: -moz-linear-gradient(top, #ffad00, #fe7f00);
  background: linear-gradient(top, #ffad00, #fe7f00);
  background: -webkit-linear-gradient(top, #ffad00, #fe7f00);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-blue {
  background: -moz-linear-gradient(top, #7ac2ff, #1c85df);
  background: linear-gradient(top, #7ac2ff, #1c85df);
  background: -webkit-linear-gradient(top, #7ac2ff, #1c85df);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-navy {
  background: -moz-linear-gradient(top, #32dd9b, #06b16f);
  background: linear-gradient(top, #32dd9b, #06b16f);
  background: -webkit-linear-gradient(top, #32dd9b, #06b16f);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-pink {
  background: -moz-linear-gradient(top, #fe82c9, #e00982);
  background: linear-gradient(top, #fe82c9, #e00982);
  background: -webkit-linear-gradient(top, #fe82c9, #e00982);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-yellow {
  background: -moz-linear-gradient(top, #ffcc83, #eba104);
  background: linear-gradient(top, #ffcc83, #eba104);
  background: -webkit-linear-gradient(top, #ffcc83, #eba104);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-violet {
  background: -moz-linear-gradient(top, #d77dfd, #9f04df);
  background: linear-gradient(top, #d77dfd, #9f04df);
  background: -webkit-linear-gradient(top, #d77dfd, #9f04df);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-gray {
  background: -moz-linear-gradient(top, #f5f5f5, #ccc);
  background: linear-gradient(top, #f5f5f5, #ccc);
  background: -webkit-linear-gradient(top, #f5f5f5, #ccc);
}
.mui-content > .mui-table-view:first-child {
  margin-top: 0rem;
}
.ico-work {
  background: url(../../img/work_footer-01.png) center center no-repeat;
  background-size: cover;
}
.ico-order {
  background: url(../../img/work_footer-02.png) center center no-repeat;
  background-size: cover;
}
.ico-account {
  background: url(../../img/work_footer-03.png) center center no-repeat;
  background-size: cover;
}
.mui-table-view:before,
.mui-table-view:after {
  background-color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #5c9df4;
}
.mui-bar-tab .mui-tab-item {
  text-align: center;
  border-top: 1px solid #000;
}
.mui-bar-tab .mui-tab-item .mui-tab-label {
  color: #333;
}
.bgImg {
  background: url(../../img/work_footer-01.png) center center no-repeat;
  background-position-y: -2.0625rem;
}
.bgImg1 {
  background: url(../../img/work_footer-02.png) center center no-repeat;
  background-position-y: -2.0625rem;
}
.bgImg2 {
  background: url(../../img/work_footer-03.png) center center no-repeat;
  background-position-y: -2.0625rem;
}
.mui-bar-tab .mui-tab-item .mui-icon {
  width: 2.06rem;
  height: 2.06rem;
  transition: all 0.5s;
  background-size: 2.0625rem 4.12rem;
}
.mui-bar img {
  width: 1.75rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.mui-active .mui-icon {
  background-position-y: 0rem;
}
/*resetcss*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: Arial !important;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*resetcssEnd*/
/*重构的顶部*/
/*顶部的卡片视图*/
.topBar {
  padding-top: 1.25rem;
  height: 4rem;
  box-shadow: 0 0.0625rem 0.375rem #ccc;
  background-color: #fff;
}
.topBar .topBack-ico {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  background: url("../../../img/topBackB-ico.png") left center no-repeat;
  background-size: 1.25rem 1.25rem;
}
.topBar .mui-title {
  font-size: 1.12rem;
  color: #333;
  z-index: -1;
}
.topBar .rightIco {
  display: block;
  width: 2.75rem;
  height: 2.75rem;
}
.mui-content {
  padding-top: 4rem !important;
}
.topBar {
  background: url("../../../images/evaluateBg.png") left top no-repeat;
  background-size: 100% 5.375rem;
  box-shadow: none;
  height: 5.375rem;
}
.topBar * {
  color: #fff !important;
}
html,
body,
#evaluatemange {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #fff;
}
.evaluateBox {
  position: fixed;
  width: 100%;
  padding: 0 0.75rem;
  top: 4.53rem;
  z-index: 9999;
}
.evaluate-top {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.3125rem 0 0.625rem;
  height: 3.125rem;
  margin: 0 auto;
  box-shadow: 0px 0.25rem 0.4375rem 0.125rem rgba(184, 184, 184, 0.41);
  border-radius: 5px;
  z-index: 9999;
  background-color: #fff;
  font-size: 0.9375rem;
}
.evaluate-top .evaluateCount {
  text-indent: 1.75rem;
  height: 1.37rem;
  line-height: 1.375rem;
  color: #333;
  background: url("../../../img/evaluate-ico.png") left center no-repeat;
  background-size: 1.37rem 1.37rem;
}
.evaluate-top .starLv {
  display: flex;
}
.evaluate-top .starLv .evaluateStar {
  display: flex;
  width: 6.71rem;
  justify-content: space-between;
  position: relative;
}
.evaluate-top .starLv .evaluateStar .evaluateStarsLine {
  width: 0.9375rem;
  height: 0.9375rem;
  background-image: url("../../../img/bigStarLine-ico.png");
  background-position-y: 0px;
  background-size: 0.9375rem 0.9375rem;
}
.evaluate-top .starLv .evaluateStar .evaluateStars {
  position: absolute;
  width: 100%;
  left: 0;
}
.evaluate-top .starLv .evaluateStar .evaluateStars .evaluateStarsitem {
  width: 0.9375rem;
  height: 0.9375rem;
  float: left;
  margin-right: 0.5rem;
  background-image: url("../../../img/bigStar-ico.png.png");
  background-position-y: 0px;
  background-size: 0.9375rem 0.9375rem;
}
.evaluate-top .starLv .evaluateStar .evaluateStars .evaluateStarsitem:last-child {
  margin-right: 0;
}
.mui-content {
  background: #fff;
  margin-top: 2.93rem;
}
.wrapperList {
  top: 7.65625rem;
  bottom: 0;
}
.wrapperList .pullDown {
  display: none;
}
.wrapperList .wrapperListItem {
  padding: 0.75rem 0.78125rem;
  position: relative;
  background-color: #fff;
}
.wrapperList .wrapperListItem .ListItemTop {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5625rem;
  margin-bottom: 0.75rem;
}
.wrapperList .wrapperListItem .ListItemTop img {
  width: 2.5625rem;
  height: 2.5625rem;
  margin-right: 0.68rem;
  border-radius: 20.5px;
}
.wrapperList .wrapperListItem .ListItemTop .userInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 1.875rem;
}
.wrapperList .wrapperListItem .ListItemTop .userInfo .userName {
  align-self: flex-start;
  margin-bottom: 0.3125rem;
  font-size: 0.87rem;
  color: #333;
}
.wrapperList .wrapperListItem .ListItemTop .userInfo .evaluateStar {
  display: flex;
  width: 5.125rem;
  justify-content: space-between;
  position: relative;
}
.wrapperList .wrapperListItem .ListItemTop .userInfo .evaluateStar .evaluateStarsLine {
  width: 0.75rem;
  height: 0.75rem;
  background-image: url("../../../img/smallStarLine-ico.png.png");
  background-position-y: 0px;
  background-size: 0.75rem 0.75rem;
}
.wrapperList .wrapperListItem .ListItemTop .userInfo .evaluateStar .evaluateStars {
  position: absolute;
  width: 100%;
  left: 0;
}
.wrapperList .wrapperListItem .ListItemTop .userInfo .evaluateStar .evaluateStars .evaluateStarsitem {
  width: 0.75rem;
  height: 0.75rem;
  float: left;
  margin-right: 0.34375rem;
  background-image: url("../../../img/smallStar-ico.png.png");
  background-position-y: 0px;
  background-size: 0.75rem 0.75rem;
}
.wrapperList .wrapperListItem .ListItemTop .userInfo .evaluateStar .evaluateStars .evaluateStarsitem:last-child {
  margin-right: 0;
}
.wrapperList .wrapperListItem .ListItemTop .evaluateDate {
  align-self: flex-start;
  padding-top: 0.34rem;
  font-size: 0.75rem;
  color: #999;
}
.wrapperList .wrapperListItem .ListItemTop .evaluateMsg {
  line-height: 1.25rem;
}
.wrapperList .wrapperListItem:after {
  position: absolute;
  content: " ";
  display: block;
  width: 95%;
  height: 0.0625rem;
  right: 0px;
  left: 0;
  bottom: -0.0625rem;
  margin: auto;
  background-color: #e5e5e5;
  transform: scaleY(0.5);
}
.evaluateNum {
  margin-left: 0.625rem;
  font-size: 0.9375rem;
  color: #D7B374;
}
