@import "../common";
.topBar("../../../img/topBackB-ico.png");
.topBar {
    background: url("../../../images/evaluateBg.png") left top no-repeat;
    background-size: 100% 86px;
    box-shadow: none;
    height: 86px;
    * {
        color: #fff !important;
    }
}

html,
body,
#evaluatemange,
{
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}
.mui-content {height: 100%;
    min-height: 100%;}

.evaluateStar(@url1,
@url2,
@boxWidth,
@wh,
@marginR) {
    .evaluateStar {
        display: flex;
        width: @boxWidth;
        justify-content: space-between;
        position: relative;
        .evaluateStarsLine {
            .wh(@wh,
            @wh);
            background-image: url(@url1);
            background-position-y: 0px;
            background-size: @wh @wh;
        }
        .evaluateStars {
            position: absolute;
            width: 100%;
            left: 0;
            .evaluateStarsitem {
                .wh(@wh,
                @wh);
                float: left;
                margin-right: @marginR;
                background-image: url(@url2);
                background-position-y: 0px;
                background-size: @wh @wh;
            }
            .evaluateStarsitem:last-child {
                margin-right: 0;
            }
        }
    }
}

.evaluateBox {
    position: fixed;
    width: 100%;
    padding: 0 0.75rem;
    top: 4.53rem;
    z-index: 9999;
}

.evaluate-top {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 10px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0px 4px 7px 2px rgba(184, 184, 184, 0.41);
    border-radius: 5px;
    z-index: 9999;
    background-color: #fff;
    font-size: 15px;
    .evaluateCount {
        text-indent: 28px;
           height: 1.37rem;        
        line-height: 22px;
        color: #333;
        background: url("../../../img/evaluate-ico.png") left center no-repeat;
        background-size: 22px 22px;
    }
    .evaluateStar("../../../img/bigStarLine-ico.png",
    "../../../img/bigStar-ico.png.png",
    6.71rem,
    15px,
    0.5rem);
}

.mui-content {
    background: #fff;
       margin-top: 2.93rem;
    .wrappers {
        height: 100%;
        .wrapperList {
            ul {
                padding-bottom: 8.12rem;
                padding-top: 0.75rem;
            }
            .pullUp {
                position: relative;
                top: -8.12rem;
            }
            .pullDown {
                display: none;
            }
            .wrapperListItem {
                padding: 12px 12.5px;
                position: relative;
                .ListItemTop {
                    display: flex;
                    flex: 1;
                    justify-content: space-between;
                    align-items: center;
                    .wh(100%,
                    41px);
                    margin-bottom: 12px;
                    img {
                        .wh(41px,
                        41px);
                        margin-right: 0.68rem;
                        border-radius: 20.5px;
                    }
                    .userInfo {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        height: 30px;
                        .userName {
                            align-self: flex-start;
                            margin-bottom: 5px;
                        }
                        .evaluateStar("../../../img/smallStarLine-ico.png.png",
                        "../../../img/smallStar-ico.png.png",
                        82px,
                        12px,
                        5.5px);
                    }
                    .evaluateDate {
                        align-self: flex-start;
                    }
                }
                &:after {
                    position: absolute;
                    content: " ";
                    display: block;
                    .wh(95%,
                    1px);
                    right: 0px;
                    left: 0;
                    bottom: -1px;
                    margin: auto;
                    background-color: #e5e5e5;
                    transform: scaleY(0.5);
                }
            }
        }
    }
}

.evaluateNum {
    margin-left: 10px;
    font-size: 15px;
    color: #D7B374;
}