body,
html {
  background-color: #f5f5f5;
}
.mui-content {
  font-size: 0.87rem;
  color: #333;
  background-color: #f5f5f5;
}
.mui-bar {
  background-color: #fff;
}
.mui-bar a {
  color: #666666;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #929292;
}
.mui-bar .mui-btn-link {
  color: #333;
}
.btn-gradient {
  padding: 0.625rem;
  background: -moz-linear-gradient(top, #0AADFE, #0D80EF);
  background: linear-gradient(top, #0AADFE, #0D80EF);
  background: -webkit-linear-gradient(top, #0AADFE, #0D80EF);
}
.btn-delete {
  padding: 0.625rem;
  background: -moz-linear-gradient(top, #f15d5d, #f10101);
  background: linear-gradient(top, #f15d5d, #f10101);
  background: -webkit-linear-gradient(top, #f15d5d, #f10101);
}
a {
  color: #333;
}
.mui-input-group .mui-input-row:after {
  left: 0px;
}
input {
  font-size: 0.87rem;
  -webkit-appearance: none;
}
.mui-input-group:before,
.mui-input-group:after {
  background-color: #FFFFFF;
}
.mui-btn-blue.mui-active:enabled,
.mui-btn-blue:enabled:active,
.mui-btn-primary.mui-active:enabled,
.mui-btn-primary:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
  color: #fff;
  border: 1px solid #0B84F0;
  background-color: #0B84F0;
}
.shop-good-box {
  width: 100%;
  margin-top: 0.62rem;
}
.shop-good-box .shop-good-box-title {
  font-size: 0rem;
}
.shop-good-box .shop-good-box-title img {
  max-width: 100%;
  vertical-align: bottom;
}
.shop-good-box .mui-table-view.mui-grid-view {
  padding: 0rem;
}
.shop-good-box .mui-table-view.mui-grid-view .mui-table-view-cell {
  padding: 0rem;
  margin-right: 0rem;
  border-bottom: 1px #f5f5f5 solid;
  border-right: 1px #f5f5f5 solid;
}
.shop-good-box .mui-table-view.mui-grid-view .shop-good-item-box {
  background-color: #fff;
  padding: 0.62rem 0.18rem;
}
.shop-good-box .mui-table-view:after,
.shop-good-box .mui-table-view:before {
  background-color: #f5f5f5;
}
.shop-good-box ul {
  background-color: #f5f5f5;
}
.shop-good-box ul li .shop-good-title {
  width: 100%;
  text-align: left;
}
.shop-good-box ul li img {
  width: 100%;
  vertical-align: bottom;
}
.shop-good-box ul li span {
  font-size: 0.75rem;
  min-height: 2.75rem;
}
.shop-good-box ul li .shop-good-bottom-box {
  margin-top: 0.31rem;
  line-height: 1.75rem;
  width: 100%;
  height: 1.75rem;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-price {
  float: left;
  padding: 0rem;
  color: #333;
  font-weight: bold;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn {
  padding: 0rem 0.31rem;
  float: right;
  min-width: 4.25rem;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-delete {
  text-decoration: line-through;
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-green {
  background: -moz-linear-gradient(top, #11ca08, #079600);
  background: linear-gradient(top, #11ca08, #079600);
  background: -webkit-linear-gradient(top, #11ca08, #079600);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-orange {
  background: -moz-linear-gradient(top, #ffad00, #fe7f00);
  background: linear-gradient(top, #ffad00, #fe7f00);
  background: -webkit-linear-gradient(top, #ffad00, #fe7f00);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-blue {
  background: -moz-linear-gradient(top, #7ac2ff, #1c85df);
  background: linear-gradient(top, #7ac2ff, #1c85df);
  background: -webkit-linear-gradient(top, #7ac2ff, #1c85df);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-navy {
  background: -moz-linear-gradient(top, #32dd9b, #06b16f);
  background: linear-gradient(top, #32dd9b, #06b16f);
  background: -webkit-linear-gradient(top, #32dd9b, #06b16f);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-pink {
  background: -moz-linear-gradient(top, #fe82c9, #e00982);
  background: linear-gradient(top, #fe82c9, #e00982);
  background: -webkit-linear-gradient(top, #fe82c9, #e00982);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-yellow {
  background: -moz-linear-gradient(top, #ffcc83, #eba104);
  background: linear-gradient(top, #ffcc83, #eba104);
  background: -webkit-linear-gradient(top, #ffcc83, #eba104);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-violet {
  background: -moz-linear-gradient(top, #d77dfd, #9f04df);
  background: linear-gradient(top, #d77dfd, #9f04df);
  background: -webkit-linear-gradient(top, #d77dfd, #9f04df);
}
.shop-good-box ul li .shop-good-bottom-box .shop-good-btn-gray {
  background: -moz-linear-gradient(top, #f5f5f5, #ccc);
  background: linear-gradient(top, #f5f5f5, #ccc);
  background: -webkit-linear-gradient(top, #f5f5f5, #ccc);
}
.mui-content > .mui-table-view:first-child {
  margin-top: 0rem;
}
.ico-work {
  background: url(../../img/work_footer-01.png) center center no-repeat;
  background-size: cover;
}
.ico-order {
  background: url(../../img/work_footer-02.png) center center no-repeat;
  background-size: cover;
}
.ico-account {
  background: url(../../img/work_footer-03.png) center center no-repeat;
  background-size: cover;
}
.mui-table-view:before,
.mui-table-view:after {
  background-color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #5c9df4;
}
.mui-bar-tab .mui-tab-item {
  text-align: center;
  border-top: 1px solid #000;
}
.mui-bar-tab .mui-tab-item .mui-tab-label {
  color: #333;
}
.bgImg {
  background: url(../../img/work_footer-01.png) center center no-repeat;
  background-position-y: -2.0625rem;
}
.bgImg1 {
  background: url(../../img/work_footer-02.png) center center no-repeat;
  background-position-y: -2.0625rem;
}
.bgImg2 {
  background: url(../../img/work_footer-03.png) center center no-repeat;
  background-position-y: -2.0625rem;
}
.mui-bar-tab .mui-tab-item .mui-icon {
  width: 2.06rem;
  height: 2.06rem;
  transition: all 0.5s;
  background-size: 2.0625rem 4.12rem;
}
.mui-bar img {
  width: 1.75rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.mui-active .mui-icon {
  background-position-y: 0rem;
}
/*resetcss*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: Arial !important;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*resetcssEnd*/
/*重构的顶部*/
/*顶部的卡片视图*/
/*没有数据*/
<<<<<<< HEAD
.lastBtnBox {
  padding: 0 0.75rem;
  text-align: center;
}
.lastBtnBox .addBtn {
  margin: 1.81rem auto 0;
  width: 100%;
  font-size: 1.12rem;
  font-weight: bold;
  border-radius: 0.37rem;
  color: #fff;
  background-color: #222;
}
=======
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
  border-top: 1px solid #e5e5e5;
}
.mui-table-view-cell:after,
.mui-table-view-cell:before {
  background-color: #fff;
}
.account-myshop-tab-box {
  position: relative;
  top: 0;
  border-bottom: 1px solid #e5e5e5;
}
.account-myshop-tab-box .bac-bule {
<<<<<<< HEAD
  height: 9.0625rem;
=======
  height: 145px;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
  background: -moz-linear-gradient(top, #0AADFE, #0D80EF);
  background: linear-gradient(top, #0AADFE, #0D80EF);
  background: -webkit-linear-gradient(top, #0AADFE, #0D80EF);
  color: #ffffff;
  font-family: "微软雅黑";
}
.account-myshop-tab-box .bac-bule .bac-top {
  height: 60%;
}
.account-myshop-tab-box .bac-bule .bac-top .my-shopinfo {
  width: 63%;
  font-size: 1rem;
<<<<<<< HEAD
  margin: 2.5rem 0.8125rem 0 0;
}
.account-myshop-tab-box .bac-bule .bac-top .user-img {
  width: 5.625rem;
  margin: 1.3125rem 0 0 4%;
=======
  margin: 40px 13px 0 0;
}
.account-myshop-tab-box .bac-bule .bac-top .user-img {
  width: 90px;
  margin: 21px 0 0 4%;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
}
.account-myshop-tab-box .bac-bule .bac-top .user-img img {
  width: 4.37rem;
  height: 4.37rem;
  box-shadow: 0 0 0 0.12rem #00ADFF;
  border-radius: 4.37rem;
}
.account-myshop-tab-box .bac-bule .bac-top .location-img {
  position: relative;
<<<<<<< HEAD
  top: 0.1875rem;
=======
  top: 3px;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
}
.account-myshop-tab-box .bac-bule .bac-top .location-img img {
  width: 8%;
}
.account-myshop-tab-box .bac-bule .bac-top .detailName,
.account-myshop-tab-box .bac-bule .bac-top .detailAddress {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.account-myshop-tab-box .bac-bule .bac-top .detailAddress {
  font-size: 0.9rem;
}
.account-myshop-tab-box .bac-bule .bac-bottom {
  height: 37%;
  float: right;
}
.account-myshop-tab-box .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #0B84F0;
}
.account-myshop-tab-box .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  border-bottom: 2px solid #0B84F0;
}
.account-myshop-tab-box .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar {
  background-color: #0B84F0;
}
.account-myshop-tab-box .mui-slider-indicator.mui-segmented-control {
  background-color: #fff;
}
.account-myshop-tab-box .mui-control-content .mui-loading {
  margin-top: 3.12rem;
}
.account-myshop-tab-box .mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
  border-bottom: none;
}
.account-myshop-tab-box .couponInfo {
<<<<<<< HEAD
  height: 2.1875rem;
  line-height: 2.1875rem;
=======
  height: 35px;
  line-height: 35px;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
  color: #ffffff;
  background-color: rgba(153, 153, 153, 0.83);
  font-size: 0.80rem;
}
.account-myshop-tab-box .couponInfo span {
<<<<<<< HEAD
  margin-left: 0.9375rem;
}
.account-myshop-tab-box .couponInfo button {
  margin-top: 0.125rem;
  margin-right: 0.9375rem;
  height: 1.875rem;
=======
  margin-left: 15px;
}
.account-myshop-tab-box .couponInfo button {
  margin-top: 2px;
  margin-right: 15px;
  height: 30px;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
  float: right;
}
.account-myshop-list-box .mui-scroll-wrapper {
  top: 14.37rem;
}
.account-myshop-list-box .account-myshop-money-box {
  background: #FFFFFF;
  padding: 1.25rem 0.62rem;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.account-myshop-list-box .account-myshop-money-box img {
  width: 10rem;
  display: block;
  margin: 0 auto;
}
.account-myshop-list-box .account-myshop-money-box .account-myshop-income-box {
  position: absolute;
<<<<<<< HEAD
  top: 3.625rem;
=======
  top: 58px;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
  text-align: center;
  width: 100%;
}
.account-myshop-list-box .account-myshop-money-box .account-myshop-income-box span {
  display: block;
}
.account-myshop-list-box .account-myshop-money-box .account-myshop-income-box .account-myshop-title {
  color: #999;
  font-size: 0.87rem;
}
.account-myshop-list-box .account-myshop-money-box .account-myshop-income-box .account-myshop-money {
  font-size: 1rem;
}
.account-myshop-list-box .mui-table-view.mui-grid-view {
  padding: 0rem;
}
.account-myshop-list-box .mui-table-view.mui-grid-view li {
  padding: 0.62rem 0.62rem 0 0.62rem;
  border-bottom: 1px solid #e6e6e6;
}
.account-myshop-list-box .mui-table-view.mui-grid-view .mui-table-view-cell {
  padding: 0;
  vertical-align: middle;
  text-align: left;
  position: relative;
}
.account-myshop-list-box .mui-table-view.mui-grid-view .mui-table-view-cell .hotshop {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 99;
  width: 2.75rem;
}
.account-myshop-list-box span {
  display: inline-block;
}
.account-myshop-list-box .shop-top-money {
  color: #FE7D19;
  float: right;
<<<<<<< HEAD
  margin-right: 0.9375rem;
=======
  margin-right: 15px;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
}
.account-myshop-list-box .shop-top-box .shop-top-title {
  color: #666666;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline-block;
  width: 75%;
}
.account-myshop-list-box .shop-top-box .shop-top-title span {
  display: inline;
}
.account-myshop-list-box .shop-top-box .shop-top-distance {
  font-size: 0.75rem;
  color: #666;
}
.account-myshop-list-box .shop-top-box .inmoney {
  color: #0B84F0;
<<<<<<< HEAD
  margin-right: 0.625rem;
=======
  margin-right: 10px;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
}
.account-myshop-list-box .shop-bottom-box {
  line-height: 2rem;
  color: #333;
  font-size: 0.8rem;
}
.account-myshop-list-box .shop-bottom-box span {
  display: inline;
}
.account-myshop-list-box .shop-bottom-box .mobileInfo {
<<<<<<< HEAD
  line-height: 1.0625rem;
}
.account-myshop-list-box .shop-bottom-box .btn-xxt {
  height: 1.6875rem;
  margin-top: 1.1875rem;
  border-radius: 5px;
  padding: 0.25rem 1.125rem;
=======
  line-height: 17px;
}
.account-myshop-list-box .shop-bottom-box .btn-xxt {
  height: 27px;
  margin-top: 19px;
  border-radius: 5px;
  padding: 4px 18px;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
  background-color: #fff;
  border: 1px solid #87b9f0;
}
.account-myshop-list-box .mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
  border-bottom: none;
}
.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
  color: #0B84F0;
  border: 1px solid #007aff;
  background-color: #D2EAFD;
  border-radius: 17px;
<<<<<<< HEAD
  margin-top: 0.375rem;
  margin-right: 0.75rem;
=======
  margin-top: 6px;
  margin-right: 12px;
>>>>>>> 5364d9569539cb1231114c2af6ab18bbe1a1cf64
}
/*店铺列表*/
.account-myshop-box .mui-table-view li {
  border-bottom: 1px solid #E5E5E5;
}
