@import "../common.less";
.topBar("../../../img/topBack-ico.png");
.isNoData(4.1rem, 50px);
html,
body,
#partyAdmin {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

.mui-content {
    height: 100%;
}

.wrapperList {
    top: 4.1rem;
    bottom: 3.125rem;
    .pullDown {
        display: none;
    }
    .listItem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0.9375rem 0.75rem 0 0.75rem;
        margin-bottom: 0.625rem;
        background-color: #fff;
        * {
            font-size: 0.8125rem;
            color: #333;
        }
        .InfoTit {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            width: 100%;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-bottom: 0.03125rem;
            .partyTit {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-item-align: end;
                    align-self: flex-end;
                font-size: 1rem;
            }
            .partyState {
                font-size: 0.875rem;
                color: #D7B374;
            }
            .partyRoad {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
                width: 100%;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                padding-left: 0.37rem;
                span {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: 2.28rem;
                    height: 0.96rem;
                    background: #D7B374;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    border-radius: 0.46rem 0.46rem 0.46rem 0;
                    font-size: 0.68rem;
                    color: #fff;
                }
            }
        }
        .orderInfo {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            width: 100%;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            padding-bottom: 0.9375rem;
            .orderInfoL {
                p {
                    margin-top: 0.8125rem;
                }
            }
            .orderInfoR {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 4.375rem;
                -webkit-box-align: end;
                    -ms-flex-align: end;
                        align-items: flex-end;
                .orderContainer {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    width: 4.375rem;
                    height: 4.375rem;
                    border-radius: 35px;
                    padding: 1rem 0 0.84375rem 0;
                    -webkit-box-shadow: inset 0 0 0 0.1875rem #D7B374;
                            box-shadow: inset 0 0 0 0.1875rem #D7B374;
                    .orderContainerNum {
                        font-size: 1.3125rem;
                        color: #333;
                        margin-bottom: 0.18rem;
                    }
                    .orderContainerName {
                        font-size: 0.75rem;
                        color: #999;
                    }
                }
            }
        }
        .itemBottom {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            width: 100%;
            height: 2.125rem;
            line-height: 2.09375rem;
            overflow: hidden;
            border-top: 1px solid #e5e5e5;
            div {
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
                position: relative;
                &:after {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 0.0625rem;
                    height: 1.0625rem;
                    bottom: 0;
                    top: 0;
                    right: -0.0625rem;
                    margin: auto;
                    background-color: #e5e5e5;
                }
            }
        }
    }
    .ListEnd {
        width: 100%;
        height: 3.21875rem;
        position: relative;
        line-height: 3.21875rem;
        margin-top: -0.625rem;
        background-color: #f5f5f5;
        font-size: 0.75rem;
        color: #ccc;
        span {
            display: inline-block;
            &:after {
                content: " ";
                display: block;
                width: 5.125rem;
                height: 0.0625rem;
                position: absolute;
                left: 0.8125rem;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: #e8e8e8;
            }
            &:before {
                content: " ";
                display: block;
                position: absolute;
                width: 5.125rem;
                height: 0.0625rem;
                right: 0.8125rem;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: #e8e8e8;
            }
        }
    }
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: fixed;
    z-index: 99999;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    width: 100%;
    height: 3.125rem;
    color: #fff;
    div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        &:after {
            content: " ";
            display: block;
            width: 0.0625rem;
            height: 1.8125rem;
            position: absolute;
            right: 0;
        }
        .createParty-ico {
            background: url(../../../img/createParty-ico.png) center center no-repeat;
        }
        .partyScanner-ico {
            background: url(../../../img/partyScanner-ico.png) center center no-repeat;
        }
        .footerico {
            -ms-flex-item-align: center;
                align-self: center;
            display: inline-block;
            width: 2.06rem;
            height: 2.06rem;
            background-size: 1.37rem 1.37rem;
        }
    }
    background-color: #222;
}

.scale1 {
    -webkit-transform: scale(1)!important;
            transform: scale(1)!important;
}

