.mui-media-body {
  text-align: left;
}
.mui-media-body .mui-media-object {
  width: 40%;
}
.mui-media-body img {
  width: 0.9375rem;
  display: inline-block;
  float: left;
}
.imgfontintr {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.delete-img {
  width: 1.125rem;
  position: absolute;
  top: 2%;
  left: 89%;
}
.mui-table-view.mui-grid-view {
  padding: 0 0px 0.625rem 0;
}
.mui-table-view.mui-grid-view .mui-table-view-cell {
  margin-right: -0.25rem;
  padding: 0.625rem 0.25rem 0 0.875rem;
}
.saveRelease {
  color: #fff;
  padding: 1rem;
  position: fixed;
  bottom: 0;
}
