<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>兑咖网-申请结算</title>
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/page/work/applysettlement.css" />
	</head>

	<body>
		<div id="applysettlement">
			<header class="mui-bar topBar mui-bar-nav">
				<a class="mui-action-back topBack-ico mui-pull-left"></a>
				<h1 class="mui-title">申请结算</h1>
			</header>
			<div class="mui-content">
				<div class="mine-cash-top">
					<div class="mui-card">
						<form class="mui-input-group">
							<div class="mui-input-row mui-radio">
								<label>结算方式</label>
							</div>
							<div class="mui-input-row mui-radio" v-for="(item,key) in Card">
								<label class="cardName">{{item.bankName+'储蓄卡('}}{{item.bankCode | replacex }}{{')'}}</label>
								<input name="radio1" type="radio" checked="">
							</div>
						</form>
					</div>
				</div>
				<div class="mine-cash-middle">
					<div class="topMoney">
						<p class="isMoney" id="numTotal"><span class="allMoney">可提现</span> {{money==null?0:money}}</p>
						<a href="JavaScript:;" class="mui-btn setMoney" @click="pageData.money=money" id="allMoneyBtn">全部结算</a>
					</div>
					<div class="cashMiddleItem">
						<h1 class="settlement">结算金额</h1>
						<input type="number" @input="maxMoney" class="bigInput" v-model="pageData.money" id="cashMoneyNum">
					</div>
					<div class="cashMiddleItem phoneNum">
						<div class="phoneNumCode">
							<h1 class="settlement">短信验证码</h1>
							<div class="phoneNumCodeRight">
								<input type="tel" maxlength="6" pattern="[0-9]*" v-model="pageData.smsCode" id="smCode">
								<button href="JavaScript:;" class="mui-btn getPhoneCode" :disabled="showOutTime" @click="smsVerify" v-text="second==90?'获取验证码':'剩余'+second+'秒'" id="getPhoneCode">获取验证码</button>
							</div>
						</div>
						<div class="phoneNumCodePrompt mui-text-right">

						</div>
					</div>

					<div class="cashMiddleItem">
						<h1 class="settlement">结算密码</h1>
						<input type="password" v-model="pageData.balancePwd" class="bigInput" placeholder="请输入结算密码">
					</div>
				</div>
			</div>
			<div class="lastBtnBox mui-text-center">
				<button data-loading-text="结算中" class="addBtn mui-text-center" :disabled="applyBtn" id="cashBtn" @click="settle">结算</button>
			</div>
		</div>
		<!--弹出菜单-->
		<script type="text/javascript" src="../../../js/md5.min.js"></script>
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../../js/muihelper.js"></script>
		<script type="text/javascript" src="../../../js/vue.min.js"></script>
		<script>
			var Vue = new Vue({
				el: '#applysettlement',
				data: function() {
					return {
						Card: [],
						pageData: [],
						money: 0,
						isEdit: false,
						showOutTime: false,
						second: 90,
						applyBtn: false,
						phone: '',
						pageData: {
							smsCode: '',
							money: '',
							balancePwd: '',
							merchantCode: '',
						}
					}
				},
				created: function() {
					var _this = this;

					mui.plusReady(function() {
						var money = Fun_App.getextrasdata().money
						_this.money = money;
						_this.getCardLsit(function(resData) {
							_this.Card = resData.data;
						});
						_this.phone = eval("(" + Fun_App.getdata('userInfo') + ")").userName;
						_this.pageData.merchantCode = Fun_App.getdata('merchantId');
					})
				},
				mounted: function() {

				},
				methods: {
					// 倒计时
					timeOut: function() {
						this.showOutTime = true;
						this.second--;
						if(this.second < 1) {
							this.showOutTime = false;
							this.second = 90;
						} else {
							var timeout = setTimeout(this.timeOut, 1000);
						}
					},
					// 获取短信验证码
					smsVerify: function() {
						var _this = this;
						var sendData = {
							config: {
								phone: this.phone,
								type: 5
							},
							fun_Success: function(data) {
								mui.toast(data.retMsg)
								if(data.retCode == 0) _this.timeOut();
							}
						}
						if(this.showOutTime == false) {
							Fun_App.ExEncryptionAjax("push-service/sms/sendSmsCode", sendData, '', 'post', 'abc');
						}
					},
					// 获取银行卡的列表
					getCardLsit: function(callBack) {
						var sendData = {
							config: {
								token: Fun_App.getdata("token")
							},
							fun_Success: function(data) {
								callBack(data)
							}
						}
						Fun_App.ExAjax("member-service/mem/merchantPerson/allBankCard", sendData)
					},
					// checkedMoney
					checkedMoney: function() {
						console.log(typeof Number(this.pageData.money))
						if(Number(this.pageData.money) > this.money) this.pageData.money = this.money;
					},
					// 结算
					settle: function(callBack) {
						var _this = this;
						var sendData = {
							config: {
								"balancePwd": this.pageData.balancePwd,
								"merchantCode": Fun_App.getdata('merchantId'),
								"money": this.pageData.money,
								"smsCode": this.pageData.smsCode
							},
							fun_Success: function(resData) {
								mui.toast(resData.retMsg);
								mui("#cashBtn").button('reset');
								if(resData.retMsg == "您未设置结算密码，请设置结算密码") {
									Fun_App.openWin("../../account/safepay.html");
									return false;
								}
								if(resData.retCode === 0) {
									Fun_App.openWin("./cashsuccess.html", 'pop-in', {
										allMoney: _this.pageData.money, //所有金额
										money: _this.money, //结算金额
										account: _this.Card, //结算账户
										type: _this.pageData.type,
										url: _this.url //结算成功后查看详情的接口
									});
								}
							}
						}

						if(this.pageData.money == 0) {
							mui.toast('结算金额必须大于1!');
							return false;
						}
						if(this.pageData.smsCode.length < 6) {
							mui.toast('验证码长度不正确!');
							return false;
						}

						if(Fun_App.findObj(this.pageData, []) !== false) {
							mui("#cashBtn").button('loading');
							setTimeout(function() {
								mui("#cashBtn").button('reset');
							}, 15000)
							Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/settle', sendData, '', 'post', 'abc')
						}
					},
					// 最大金额
					maxMoney: function() {
						console.log(this.money)
						this.pageData.money = parseFloat(this.pageData.money);
						if(this.pageData.money == 'NaN') {
							mui.toast('请输入一个数字!')
							console.log(typeof Number(this.pageData.money))
							this.pageData.money = parseInt(this.money);
						} else {
							console.log(this)
							this.pageData.money > this.money ? this.pageData.money = this.money : "";
						}
					}
				},
				watch: {
					applyBtn: function(val) {
						console.log(val)
					}
				}
			})
		</script>
	</body>

</html>