<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/everyOneRec.css" />
	</head>

	<body>
		<div id="everyOneRec">
			<header class="mui-bar topBar mui-bar-nav">
				<a class="mui-action-back topBack-ico mui-pull-left"></a>
				<h1 class="mui-title" >{{itemData.offerName}}明细</h1>
				<!--<span id="Topactivity" class="mui-btn  Topactivity mui-btn-blue mui-btn-link mui-pull-right" @click="open">创建活动</span>-->
			</header>
			<div class="mui-content">
				<div class="recCard">
					<div class="todayRec">
						<h2 class="todayRecMoney" v-text="topData.pSum">999</h2>
						<div class="todayRecTit">
							<img src="img/todayrecMoney.png" />
							<p>今日充值金额</p>
						</div>
					</div>
					<div class="todayRecInfo">
						<div class="todayRecItem">
							<h1>今日充值人数</h1>
							<p v-text="topData.mSum">35</p>
						</div>
						<!--<div class="todayRecItem">
							<h1>昨日充值金额</h1>
							<p v-text="topData.pSum">35</p>
						</div>
						<div class="todayRecItem">
							<h1>昨日充值人数</h1>
							<p>35</p>
						</div>-->
					</div>
				</div>
				<div class="recDate">
					<span v-text="'创建时间:'+itemData.createTime"></span>
					<span v-text="'创建时间:'+itemData.endTime"></span>
					<!--<div>
						<!--<span v-text="itemData.createTime"></span>
						
					</div>
					<div>
						<h1>下架时间:</h1>
						<span v-text="itemData.endTime">2017-1-1</span>
						

					</div>-->
				</div>
				<div class="chart" ref="main" style="height: 13.375rem;margin-bottom: 0.625rem; background: #fff;"></div>
				<div class="clickItem" :key="item" v-for="item in pageData">
					<div class="pullDownItemHeader" @click="showDrop(item)">
						<h1 v-text="item.payTime">2017-11</h1>
						<div class="recInfo">
							<p v-text="'充值'+item.pSum+'元,共'+item.mSum+'人'">充值222元</p>
							<img :class="{trdropDown:item.show}" src="img/dropDown-ico.png" />
						</div>
						<!--<p v-text="item.mSum">99人</p>-->
					</div>
					<div class="pullDownList" v-show="item.show">
						<div class="detailItem" v-for="dayItem in item.data" @click="open('./dayRecHistory',dayItem)">
							<div class="detailItemDate">
								<p v-text="dayItem.payTime">07-11</p>
							</div>
							<div class="onlineRec">
								<p v-text="dayItem.mSum+'人充值'">+1999.00</p>
							</div>
							<div class="onlineRec">
								<p v-text="'+'+dayItem.pSum">+1999.00</p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<script src="../../../js/echarts.min.js"></script>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/muihelper.js"></script>
		<script type="text/javascript" src="../../../js/md5.min.js"></script>
		<script src="../../../js/vue.min.js"></script>
		<script type="text/javascript">
			// 指定图表的配置项和数据
			var colors = ['#5793f3', '#d14a61', '#675bba'];

			mui.init()
			var Vue = new Vue({
				el: '#everyOneRec',
				data: function() {
					return {
						itemData: {},
						topData: {},
						pageData: [],
						sevDay: [],
						sevMoney: [],
						myChart: ''
					}
				},
				created: function() {
					var _this = this;
					mui.plusReady(function() {
						// offerSpecId
						_this.itemData = Fun_App.getextrasdata();
						console.log('top'+JSON.stringify(_this.itemData))
						_this.itemData.createTime = _this.itemData.createTime.split(' ')[0];
						_this.itemData.endTime = _this.itemData.endTime.split(' ')[0];
						_this.getTodaysum(function(resData) {
							console.log(JSON.stringify(resData))
							_this.topData = resData.data;
						})
						_this.getYearDetail(function(resData) {
							for(var i = 0; i < resData.data.length; i++) {
								resData.data[i].show = false;
								resData.data[i].data = [];
							}
							_this.pageData = resData.data;
						})
						_this.getSevDay();
					})
				},
				mounted: function() {
					this.myChart = echarts.init(this.$refs.main);
				},
				methods: {
					getTodaysum: function(callBack) {
						
						var sendData = {
							config: {
								merchantOfferId: this.itemData.offerSpecId
							},
							fun_Success: function(resData) {
								callBack.call(this, resData);
							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getTodaysum', sendData, '', 'post', 'abc')
					},
					getYearDetail: function(callBack) {
						console.log(this.itemData.id)
						var sendData = {
							config: {
							},
							data_Config: [
								'merchantOfferId=' + this.itemData.id,
							],
							fun_Success: function(resData) {
								callBack.call(this, resData);
							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getMonthDetail', sendData, '', 'post', 'abc')
					},
					getMouthDetail: function(item, callBack) {

						var sendData = {
							config: {},
							data_Config: [
								'merchantOfferId=' + this.itemData.id,
								'day=' + item.payTime
							],
							fun_Success: function(resData) {
								callBack(resData.data);

							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getDayDetail', sendData, '', 'post', 'abc')
					},
					getSevDay: function() {
						var _this = this;
						console.log('merchantOfferId' + this.itemData.offerSpecId)
						var sendData = {
							config: {},
							data_Config: [
								'merOfferOrderId=' + this.itemData.id,
								'dayS=' + this.daySE.start,
								'dayE=' + this.daySE.end
							],
							fun_Success: function(resData) {
								for(var i = 0; i < resData.data.length; i++) {
									var day = resData.data[i].payTime.split('-')[2]
									_this.sevDay.push(day);
									_this.sevMoney.push(resData.data[i].pSum);
								}
								_this.myChart.setOption({
									title: {
										text: '近7天充值',
										textStyle: {
											fontSize: 12
										}
									},
									color: colors,
									backgroundColor: '#fff',
									tooltip: {
										trigger: 'none',
										axisPointer: {
											type: 'cross'
										}
									},
									legend: {

									},
									grid: {
										top: 30,
										bottom: 30,
										left: 0,
										right: 0
									},
									xAxis: [{
											type: 'category',
											axisTick: {
												alignWithLabel: true
											},
											axisLine: {
												onZero: false,
												lineStyle: {
													color: colors[1]
												}
											},
											axisPointer: {

											},
											data: _this.sevDay
										}

									],
									yAxis: [{
										type: 'value',
										axisLabel: {
											margin: 0
										},
										nameTextStyle: {
											align: 'right'
										}
									}],
									position: function(pos, params, dom, rect, size) {
										var obj = {
											top: 60
										};
										obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 5;
										return obj;
									},
									tooltip: {
										trigger: 'axis',
										formatter: "{b}日充值量 <br/> {c}"
									},
									series: [{
										name: '7日销售量',
										type: 'line',
										smooth: true,
										data: _this.sevMoney
									}]
								})
							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getSevDay', sendData, '', 'post', 'abc')
					},
					showDrop: function(item) {
						item.show = !item.show;
						if(item.show) this.getMouthDetail(item, function(resData) {
							item.data = resData;
							console.log("---->" + JSON.stringify(item))
						});

					},
					open: function(url, data) {
						Fun_App.openWin(url + ".html", 'pop-in', {
							data: data,
							merchantOfferId: this.itemData.id,
							type: 'recharge' // 充值记录
						})
					}
				},
				filters: {
					dateDay: function(day) {
						return day.split(" ")[0];
					}
				},
				computed: {
					// 七天折线图的开始时间和结束时间
					daySE: function() {
						var oneDayTime = 1000 * 60 * 60 * 24;
						var date = new Date();
						var dayStartTime = date.getTime() - oneDayTime * 8;
						var dayEndTime = date.getTime() - oneDayTime;
						return {
							start: Fun_App.dateFormat(new Date(dayStartTime)).textday,
							end: Fun_App.dateFormat(new Date(dayEndTime)).textday,
						};
					}
				}
			})
		</script>
	</body>

</html>