<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../css/pullToRefresh.css" />
		<link rel="stylesheet" type="text/css" href="css/recDetail.css" />
	</head>

	<body>
		<div id="redDetail">
			<header class="mui-bar topBar mui-bar-nav">
				<a class="mui-action-back topBack-ico mui-pull-left"></a>
				<h1 class="mui-title">账单明细</h1>
				<!--<span id="Topactivity" class="mui-btn  Topactivity mui-btn-blue mui-btn-link mui-pull-right" @click="open">创建活动</span>-->
			</header>
			<div class="mui-content">
				<div class="detailPageTit ma10">
					<div class="detailPageTitItem" v-for="item in tit" @click="changeTab(item)">
						<span v-text="item.name+'记录'" :class="{active : item.active}">
							
						</span>
					</div>
				</div>
				<!--充值记录-->
				<div class="detailCard" v-if="tit[0].active">
					<div class="detailCardItem">
						<p class="CardItemMoney" v-text="topData.pSum ">9999</p>
						<!--<p class="CardItemMoney" v-text="99">9999</p>-->
						<p class="CardItemtit"><img src="img/recCountMoney-ico.png" /><span>总充值金额</span></p>

					</div>
					<div class="detailCardItem">
						<p class="CardItemMoney">{{topData.mSum | fillZero}}</p>
						<!--<p class="CardItemMoney" v-text="99">9999</p>-->
						<p class="CardItemtit"><img src="img/recCountPeople.png" /><span>总充值人数</span></p>

					</div>
				</div>
				<!--消费记录 tit[1].active-->
				<div class="detailCard" v-if="tit[1].active">
					<div class="detailCardItem">
						<p class="CardItemMoney" >{{topData.consumeMoney | fillZero}}</p>
						<!--<p class="CardItemMoney" v-text="99">9999</p>-->
						<p class="CardItemtit"><img src="img/recCountMoney-ico.png" /><span>已消费总额</span></p>

					</div>
					<div class="detailCardItem">
						<p class="CardItemMoney">{{topData.notConsumeMoney | fillZero}}</p>
						<!--<p class="CardItemMoney" v-text="99">9999</p>-->
						<p class="CardItemtit"><img src="img/recCountPeople.png" /><span>未消费总额</span></p>

					</div>
				</div>
				<div class="clickItem" :key="item" v-for="item in pageData">
					<div class="pullDownItemHeader" @click="showDrop(item)">
						<h1 v-text="item.payTime">2017-11</h1>
						<div class="recInfo">
							<p v-if="tit[0].active" v-text="'充值'+item.pSum+'元,共'+item.mSum+'人'">充值222元</p>
							<p v-if="tit[1].active" v-text="'消费'+item.pSum+'元,共'+item.mSum+'人'">充值222元</p>
							<img :class="{trdropDown:item.show}" src="img/dropDown-ico.png" />
						</div>
						<!--<p v-text="item.mSum">99人</p>-->
					</div>
					<div class="pullDownList" v-show="item.show">
						<div class="detailItem" v-for="dayItem in item.data" @click="open('./dayRecHistory',dayItem)">
							<div class="detailItemDate">
								<p v-text="dayItem.payTime">07-11</p>
							</div>
							<div class="onlineRec">
								<p v-if="tit[0].active" v-text="dayItem.mSum+'单充值'">+1999.00</p>
								<p v-if="tit[1].active" v-text="dayItem.mSum+'单消费'">+1999.00</p>
							</div>
							<div class="onlineRec">
								<p v-if="tit[0].active" v-text="'+'+dayItem.pSum">+1999.00</p>
								<p v-if="tit[1].active" v-text="'-'+dayItem.pSum">+1999.00</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/muihelper.js"></script>
		<script type="text/javascript" src="../../../js/md5.min.js"></script>
		<script type="text/javascript" src="../../../js/iscroll.js"></script>
		<script type="text/javascript" src="../../../js/pullToRefresh.js"></script>
		<script src="../../../js/vue.min.js"></script>
		<script type="text/javascript">
			var Vue = new Vue({
				el: '#redDetail',
				data: function() {
					return {
						tit: [{
							name: "充值",
							type: 'recharge',
							active: true
						}, {
							name: '消费',
							type: 'consumption',
							active: false
						}],
						type: 'recharge',
						merchantOfferId: '',
						itemData: {},
						topData: {},
						pageData: []
					}
				},
				created: function() {
					var _this = this;
					mui.plusReady(function() {
						_this.getAllsum(function(resData) {
							_this.topData = resData.data;
						})
						_this.getYearDetail(function(resData) {
							console.log(JSON.stringify(resData))
							for(var i = 0; i < resData.data.length; i++) {
								resData.data[i].show = false;
								resData.data[i].data = [];
							}
							_this.pageData = resData.data;
							console.log(JSON.stringify(_this.pageData))
						})
					})

				},
				mounted: function() {

				},
				methods: {
					// 获取所有的充值金额，人数
					getAllsum: function(callBack) {
						var sendData = {
							config: {},
							data_Config: [
								'merchantCode=' + Fun_App.getdata('merchantId')
							],
							fun_Success: function(resData) {
								callBack.call(this, resData);
							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getAllSum', sendData, '', 'post', 'abc');
					},
					// 获取充值卡的消费金额
					getConsumptionAll: function(callBack) {
						var sendData = {
							config: {
								merchantCode: Fun_App.getdata('merchantId')
							},
							fun_Success: function(resData) {
								callBack.call(this, resData);
							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem//merchantAcct/getConsumeAndNotConsumeMoney', sendData, '', 'get', 'merchant_query');
					},
					// 充值卡一年的充值记录
					getYearDetail: function(callBack) {
						var sendData = {
							config: {
								merchantOfferId: ''
							},
							fun_Success: function(resData) {
								callBack.call(this, resData);
							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getMonthDetail', sendData, '', 'post', 'abc')
					},
					// 点击后的每天充值记录
					getMouthDetail: function(item, callBack) {
						var sendData = {
							config: {},
							data_Config: [
								'day=' + item.payTime,
								'merchantCode=' + Fun_App.getdata('merchantId')
							],
							fun_Success: function(resData) {
								callBack(resData.data);

							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getDayDetail', sendData, '', 'post', 'abc')
					},
					// 每月充值记录
					getConsumptionYear: function(callBack) {
						var sendData = {
							config: {},
							data_Config: [],
							fun_Success: function(resData) {
								callBack(resData.data);
							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getYearConsume', sendData, '', 'post', 'abc')
					},
					// 每年消费记录
					getConsumptionYear: function(callBack) {
						var sendData = {
							config: {},
							data_Config: [
								'merchantCode=' + Fun_App.getdata('merchantId')
							],
							fun_Success: function(resData) {
								callBack(resData.data);
							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getYearConsume', sendData, '', 'post', 'abc')
					},
					// 每月消费记录
					getConsumptionMouth: function(item, callBack) {
						var sendData = {
							config: {},
							data_Config: [
								'day=' + item.payTime,
								'merchantCode=' + Fun_App.getdata('merchantId')
							],
							fun_Success: function(resData) {
								callBack(resData.data);
							}
						}
						Fun_App.ExEncryptionAjax('member-service/mem/merchantAcct/getMonthConsume', sendData, '', 'post', 'abc')
					},
					// 显示展开项目
					showDrop: function(item) {
						item.show = !item.show;
						item.data = [];
						// 判断当前是否是充值
						if(this.type === "recharge") {
							if(item.show) this.getMouthDetail(item, function(resData) {
								item.data = resData;
							});
						} else {
							if(item.show) this.getConsumptionMouth(item, function(resData) {
								item.data = resData;
							});
						}

					},
					// 改变Tab状态
					changeTab: function(item) {
						var _this = this;
						for(var i = 0; i < this.tit.length; i++) {
							this.tit[i].active = false;
						}
						item.active = true;
						this.type = item.type;
						// 判断type是否是消费记录
						if(item.type == "consumption") {
							this.getConsumptionYear(function(resData) {
								console.log(JSON.stringify(resData))
								for(var i = 0; i < resData.length; i++) {
									resData[i].show = false;
									resData[i].data = [];
								}
								_this.pageData = resData;
							})
							_this.getConsumptionAll(function(resData) {
								_this.topData = resData.data;
							})
						} else {
							this.getYearDetail(function(resData) {
								console.log(JSON.stringify(resData))
								for(var i = 0; i < resData.data.length; i++) {
									resData.data[i].show = false;
									resData.data[i].data = [];
								}
								_this.pageData = resData.data;
							})
							_this.getAllsum(function(resData) {
								_this.topData = resData.data;
							})
						}
					},
					// 打开页面
					open: function(url, data) {
						Fun_App.openWin(url + ".html", 'pop-in', {
							data: data,
							status: false,
							type: this.type
						})
					}
				},
				filters: {
					fillZero: function(val) {
						if(!val) {
							return 0;
						}
						return val;
					}
				}
			})
		</script>
	</body>

</html>